Proyectos/bus/ConsumidosInternamente/Mensajero/Resources/WSDLs/BS_SUT_CN_Mensajero.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cn/mensajero/v1"
  targetNamespace="https://www.supernotariado.gov.co/services/bachue/cn/mensajero/v1"
  xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/cn/mensajero/enviarmensaje/v1"
  xmlns:bachue2="https://www.supernotariado.gov.co/schemas/bachue/cn/mensajero/consultarenvio/v1"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="https://www.supernotariado.gov.co/schemas/bachue/cn/mensajero/enviarmensaje/v1" schemaLocation="../Schemas/Legacy/CN_MB_EnviarMensaje.xsd" />
			<import namespace="https://www.supernotariado.gov.co/schemas/bachue/cn/mensajero/consultarenvio/v1" schemaLocation="../Schemas/Legacy/CN_MB_ConsultarEnvio.xsd" />
		</schema>
	</wsdl:types>

	<wsdl:message name="EnviarMensaje_Request">
		<wsdl:part name="entrada" element="bachue1:entradaEnviarMensaje"/>
	</wsdl:message>
	<wsdl:message name="EnviarMensaje_Response">
		<wsdl:part name="salida" element="bachue1:salidaEnviarMensaje"/>
	</wsdl:message>
	<wsdl:message name="ConsultarEnvio_Request">
		<wsdl:part name="entrada" element="bachue2:entradaConsultarEnvio"/>
	</wsdl:message>
	<wsdl:message name="ConsultarEnvio_Response">
		<wsdl:part name="salida" element="bachue2:salidaConsultarEnvio"/>
	</wsdl:message>

	<wsdl:portType name="SUT_CN_Mensajero">
		<wsdl:operation name="EnviarMensaje">
			<wsdl:input message="bachue:EnviarMensaje_Request"/>
			<wsdl:output message="bachue:EnviarMensaje_Response"/>
		</wsdl:operation>
		<wsdl:operation name="ConsultarEnvio">
			<wsdl:input message="bachue:ConsultarEnvio_Request"/>
			<wsdl:output message="bachue:ConsultarEnvio_Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SUT_CN_Mensajero" type="bachue:SUT_CN_Mensajero">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="EnviarMensaje">
			<soap12:operation style="document"
                     soapAction="https://www.supernotariado.gov.co/services/bachue/cn/mensajero/v1/EnviarMensaje"/>
			<wsdl:input>
				<soap12:body use="literal" parts="entrada"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" parts="salida"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarEnvio">
			<soap12:operation style="document"
                     soapAction="https://www.supernotariado.gov.co/services/bachue/cn/mensajero/v1/ConsultarEnvio"/>
			<wsdl:input>
				<soap12:body use="literal" parts="entrada"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" parts="salida"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SUT_CN_Mensajero">
		<wsdl:port name="SUT_CN_MensajeroPort" binding="bachue:SUT_CN_Mensajero">
			<soap12:address location="http://www.example.com"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>