Proyectos/bus/ExpuestosExternamente/IndicePropietarios/Resources/Schemas/Legacy/CB_IP_consultar.xsd

<xsd:schema id="EntradaIndicePropietarios"
	targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/indicepropietarios/consultar/v1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/indicepropietarios/consultar/v1"
	elementFormDefault="qualified" version="1.3">
	<xsd:complexType name="tipoEntradaIndicePropietarios">
		<xsd:annotation>
			<xsd:documentation xml:lang="es">El esquema define los
				datos de entrada para la operacion Consultar
				Indice de Propietarios
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="0" maxOccurs="1">
			<xsd:element name="tipoDocumentoPersona" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde al tipo de documento del
						propietario. Solo para las personas naturales
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="CC">
							<xsd:annotation>
								<xsd:documentation>CC (Cédula de Ciudadanía) </xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="CE">
							<xsd:annotation>
								<xsd:documentation>CE (Cédula Extranjería)</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="PA">
							<xsd:annotation>
								<xsd:documentation>PA (Pasaporte)</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="TI">
							<xsd:annotation>
								<xsd:documentation>TI (Tarjeta de Identidad) </xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="NUIP">
							<xsd:annotation>
								<xsd:documentation>NUIP (Número Único de Identificación
									Personal)
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numDocumentoPersona" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde al numero de documento de una
						persona natural según el tipo de documento pesona que ha enviado
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numNIT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde al Número Único de Identificación
						Tributaria.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primerNombre" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde al primer nombre de propietario
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="segundoNombre" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde al segundo nombre de propietario
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primerApellido" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde al primer apellido de propietario
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="segundoApellido" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde al segundo apellido de propietario
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="razonSocial" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde a la razón social del propietario
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="tipoIdentificacionPredio"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde al tipo de identificacion por el
						cual podemos buscar un predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="matricula">
							<xsd:annotation>
								<xsd:documentation>En el campo numeroIdPredio deberá venir los
									tres primeros caracteres del cículo y luego si el número de
									matrícula
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="numeroPredial">
							<xsd:annotation>
								<xsd:documentation>Corresponde al CHIP, si es Bogotá o a la
									referencia o cédula catastral del predio.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="numeroPredialAnterior">
							<xsd:annotation>
								<xsd:documentation>Corresponde al anterior numero de
									Identifiación Predial.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="NUPRE">
							<xsd:annotation>
								<xsd:documentation>Número Único Predial
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numIdentificacionPredio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Al seleccionar un tipo de Identificación predio,
						se espera en este campo el número correspondiente; para el caso
						de
						Matricula, el sistema toma los tres primeros caracteres como
						Código Circulo Registral y los siguientes como el Número de
						Matrícula Inmobiliaria.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="64" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="convenio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Código del convenio que tiene la SNR con
						Entidades Externas que necesiten este servicio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="256" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codDepartamento" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Código DANE, string de longitud 2
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codMunicipio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>código DANE, longitud 5, dpto + municipio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="5"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoSalidaIndicePropietarios">
		<xsd:annotation>
			<xsd:documentation xml:lang="es">El esquema define los
				datos de salida para la generación de la Consulta de
				Índice de
				Propietarios
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="cantidadResultados" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde a la cantidad de resultados
						obtenidos
						en la consulta
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="datosInmueble" minOccurs="0"
				maxOccurs="unbounded" nillable="false" type="bachue:inmuebleDTO">
				<xsd:annotation>
					<xsd:documentation>Corresponde a la información del inmueble
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codMensaje" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>200 cuando no hay error, 4* por errores de
						validación de campos de entrada o validación de negocio y 500
						cuando existen errores de sistema.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer" />
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="descripcionMensaje" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Corresponde a al mensaje de error para los casos
						en qeue la consulta no fue exitosa, vacío cuando la consulta es
						exitosa
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="inmuebleDTO">
		<xsd:annotation>
			<xsd:appinfo>Bachue</xsd:appinfo>
			<xsd:documentation xml:lang="es">El esquema define los
				datos de salida para la operacion Consulta ínidce de propietarios
				Datos del inmueble
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="codCirculoRegistral" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Código del círculo o código de ORIP al que
						corresponde el predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codDepartamento" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Código DANE, string de longitud 2
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codMunicipio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>código DANE, longitud 5, dpto + municipio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="direccionPredio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde a la dirección del predio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numMatriculaInmobiliaria"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Número de matrícula inmobiliaria o número de
						folio con el que se identifica el predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numPredial" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde al CHIP, si es Bogotá o a la
						referencia o cédula catastral del predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NUPRE" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Número Único Predial
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="64"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomCirculoRegistral" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde al nombre del círculo registral al
						que pertenece el predio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="400" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomDepartamento" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde al nombre del departamento en
						dondese ubica el predio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomMunicipio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nombre del municipio según DANE donde está
						ubicado el predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="propietarios" minOccurs="0"
				maxOccurs="unbounded" nillable="false" type="bachue:propietarioDTO">
				<xsd:annotation>
					<xsd:documentation>Corresponde al número de propietarios del predio
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="propietarioDTO">
		<xsd:annotation>
			<xsd:appinfo>Bachue</xsd:appinfo>
			<xsd:documentation xml:lang="es">El esquema define los
				datos de salida para la operacion Consulta ínidce de propietarios
				datos de propietario
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="numNIT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde al número de identificación del
						propietario persona jurídica
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string" />
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numDocumentoPersona" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde al número de identificación del
						propietario persona natural
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string" />
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomTipoDocumento" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde al nonmbre del tipo de documento del
						propietario
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string" />
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomPropietario" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde a los nombres y apellidos del
						propietario
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="salidaIndicePropietarios"
		type="bachue:tipoSalidaIndicePropietarios" />
	<xsd:element name="entradaIndicePropietarios"
		type="bachue:tipoEntradaIndicePropietarios" />
	<!-- Últimas modificaciones 2020-03-11 15:26 -->
</xsd:schema>