Proyectos/bus/ConsumidosInternamente/ControlDigitalizacion/Resources/WADLs/PS_ControlDigitalizacion_Rest.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/ci/controldigitalizacion/notificardigitalizacion/v1" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_ControlDigitalizacion_Rest">RestService</doc>
   <grammars>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/ci/controldigitalizacion/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/ci/controldigitalizacion/notificardigitalizacion/v1" schemaLocation="../Schemas/CI_CD_NotificarDigitalizacion.xsd"/>
    </schema>
   </grammars>
   <resources>
      <resource path="/NotificarDigitalizacion">
         <method name="GET" soa:wsdlOperation="NotificarDigitalizacion">
            <request soa:paramElement="pns:entradaNotificarDigitalizacion" xmlns:pns="https://www.supernotariado.gov.co/schemas/bachue/ci/controldigitalizacion/notificardigitalizacion/v1">
               <param name="sistemaOrigen" style="query" soa:expression="$msg.entrada/bachue1:sistemaOrigen" type="xsd:string"/>
               <param name="identificadorTramite" style="query" soa:expression="$msg.entrada/bachue1:identificadorTramite" type="xsd:string"/>
               <param name="estado" style="query" soa:expression="$msg.entrada/bachue1:estado" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:salidaNotificarDigitalizacion" xmlns:cns="https://www.supernotariado.gov.co/schemas/bachue/ci/controldigitalizacion/notificardigitalizacion/v1"/>
            </response>
         </method>
      </resource>
   </resources>
</application>