Proyectos/bus/ExpuestosExternamente/DatosBasicosMatricula/Resources/Schemas/EE_Actualizar.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="circulos">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="response">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="circuloM" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="matriculaInmobiliaria">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="response1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="numeroMatriculaInmobiliaria" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>