Proyectos/bus/ExpuestosExternamente/Salvedades/Resources/WSDLs/SBB_EE_Salvedades.wsdl

<wsdl:definitions targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/salvedades/v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/salvedades/v1"
                  xmlns:bachue2="https://www.supernotariado.gov.co/schemas/bachue/ee/salvedades/registrarcambioSalvedades/v1"
                  xmlns:bachue3="https://www.supernotariado.gov.co/schemas/bachue/ee/salvedades/registrarIdentificadoresCatastrales/v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/ee/salvedades/registrarcambioSalvedades/v1"
              schemaLocation="../Schemas/Legacy/EE_CC_RegistrarCambioSalvedades.xsd"/>
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/ee/salvedades/registrarIdentificadoresCatastrales/v1"
              schemaLocation="../Schemas/Legacy/EE_CC_RegistrarIdentificadoresCatastrales.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RegistraCambioSalvedades_Request">
    <wsdl:part name="entrada" element="bachue2:entradaregistrarCambioSalvedades"/>
  </wsdl:message>
  <wsdl:message name="RegistraCambioSalvedades_Response">
    <wsdl:part name="salida" element="bachue2:salidaregistrarCambioSalvedades"/>
  </wsdl:message>
  <wsdl:message name="RegistraIdentificadoresCatastrales_Request">
    <wsdl:part name="entrada" element="bachue3:entradaRegistrarIdentificadoresCatastrales"/>
  </wsdl:message>
  <wsdl:message name="RegistraIdentificadoresCatastrales_Response">
    <wsdl:part name="salida" element="bachue3:salidaRegistrarIdentificadoresCatastrales"/>
  </wsdl:message>
  <wsdl:portType name="SBB_EE_Salvedades">
    <wsdl:operation name="RegistraCambioSalvedades">
      <wsdl:input message="bachue:RegistraCambioSalvedades_Request"/>
      <wsdl:output message="bachue:RegistraCambioSalvedades_Response"/>
    </wsdl:operation>
    <wsdl:operation name="RegistraIdentificadoresCatastrales">
      <wsdl:input message="bachue:RegistraIdentificadoresCatastrales_Request"/>
      <wsdl:output message="bachue:RegistraIdentificadoresCatastrales_Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SBB_EE_Salvedades" type="bachue:SBB_EE_Salvedades">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RegistraCambioSalvedades">
      <soap12:operation style="document"
                        soapAction="https://www.supernotariado.gov.co/schemas/bachue/ee/salvedades/registrarcambioSalvedades/v1"/>
      <wsdl:input>
        <soap12:body use="literal" parts="entrada"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="salida"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraIdentificadoresCatastrales">
      <soap12:operation style="document"
                        soapAction="https://www.supernotariado.gov.co/schemas/bachue/ee/salvedades/registrarIdentificadoresCatastrales/v1"/>
      <wsdl:input>
        <soap12:body use="literal" parts="entrada"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="salida"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SBB_EE_Salvedades">
    <wsdl:port name="SBB_EE_SalvedadesPort" binding="bachue:SBB_EE_Salvedades">
      <soap12:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>