Proyectos/bus/ConsumidosInternamente/Dispositivos/Resources/Schemas/Legacy/BiometriaController.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. -->
<xsd:schema xmlns:ns0="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/">
   <xsd:complexType name="actualizarClave">
      <xsd:sequence>
         <xsd:element name="entradaClave" type="ns0:usuarioDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="actualizarClaveResponse">
      <xsd:sequence>
         <xsd:element name="salidaResultado" type="ns0:stringSalidaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="agregarFirma">
      <xsd:sequence>
         <xsd:element name="entradaAgregarFirma" type="ns0:agregarFirmaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="agregarFirmaResponse">
      <xsd:sequence>
         <xsd:element name="agregarFirmaResponse" type="ns0:agregarFirmaSalidaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="borrarHuellas">
      <xsd:sequence>
         <xsd:element name="entradaUsuario" type="ns0:borrarHuellasDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="borrarHuellasResponse">
      <xsd:sequence>
         <xsd:element name="salidaResultado" type="ns0:stringSalidaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="consultarEstadisticas">
      <xsd:sequence>
         <xsd:element name="entradaEstadisticas" type="ns0:estadisticasEntradaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="consultarEstadisticasResponse">
      <xsd:sequence>
         <xsd:element name="salidaEstadisticas" type="ns0:estadisticasSalidaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="consultarSesion">
      <xsd:sequence>
         <xsd:element name="entradaSesion" type="ns0:sesionEntradaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="consultarSesionResponse">
      <xsd:sequence>
         <xsd:element name="salidaSesion" type="ns0:sesionDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="crearUsuario">
      <xsd:sequence>
         <xsd:element name="entradaUsuario" type="ns0:usuarioDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="crearUsuarioResponse">
      <xsd:sequence>
         <xsd:element name="salidaResultado" type="ns0:stringSalidaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="eliminarFirma">
      <xsd:sequence>
         <xsd:element name="entradaEliminarFirma" type="ns0:consultarFirmaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="eliminarFirmaResponse">
      <xsd:sequence>
         <xsd:element name="eliminarFirmaResponse" type="ns0:firmaSalidaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="enrolarUsuario">
      <xsd:sequence>
         <xsd:element name="entradaHuella" type="ns0:huellaDTO" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="enrolarUsuarioResponse">
      <xsd:sequence>
         <xsd:element name="salidaResultado" type="ns0:booleanSalidaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="obtenerConstantes"/>
   <xsd:complexType name="obtenerConstantesResponse">
      <xsd:sequence>
         <xsd:element name="salidaResultado" type="ns0:constantesSalidaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="obtenerFirma">
      <xsd:sequence>
         <xsd:element name="entradaObtenerFirma" type="ns0:consultarFirmaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="obtenerFirmaResponse">
      <xsd:sequence>
         <xsd:element name="obtenerFirmaResponse" type="ns0:obtenerFirmaSalidaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="obtenerTipoSegundoFactor">
      <xsd:sequence>
         <xsd:element name="entradaUsuario" type="ns0:usuarioEntradaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="obtenerTipoSegundoFactorResponse">
      <xsd:sequence>
         <xsd:element name="salidaResultado" type="ns0:stringSalidaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="obtenerUsuario">
      <xsd:sequence>
         <xsd:element name="entradaUsuario" type="ns0:usuarioEntradaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="obtenerUsuarioResponse">
      <xsd:sequence>
         <xsd:element name="salidaResultado" type="ns0:stringSalidaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="registrarEvento">
      <xsd:sequence>
         <xsd:element name="entradaLog" type="ns0:logDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="registrarEventoResponse">
      <xsd:sequence>
         <xsd:element name="salidaResultado" type="ns0:booleanSalidaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="verificarClave">
      <xsd:sequence>
         <xsd:element name="entradaClave" type="ns0:claveDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="verificarClaveResponse">
      <xsd:sequence>
         <xsd:element name="salidaResultado" type="ns0:booleanSalidaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="verificarUsuario">
      <xsd:sequence>
         <xsd:element name="entradaVerificacion" type="ns0:verificacionDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="verificarUsuarioResponse">
      <xsd:sequence>
         <xsd:element name="salidaResultado" type="ns0:booleanSalidaDTO" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="usuarioDTO">
      <xsd:complexContent>
         <xsd:extension base="ns0:baseDTO">
            <xsd:sequence>
               <xsd:element name="clave" type="xsd:string"/>
               <xsd:element name="claveActiva" type="xsd:string"/>
               <xsd:element name="fechaVencimiento" type="xsd:dateTime"/>
               <xsd:element name="idUsuario" type="xsd:string"/>
               <xsd:element name="idUsuarioCreacion" type="xsd:string"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="baseDTO"/>
   <xsd:complexType name="stringSalidaDTO">
      <xsd:complexContent>
         <xsd:extension base="ns0:baseSalidaDTO">
            <xsd:sequence>
               <xsd:element name="resultado" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="baseSalidaDTO">
      <xsd:sequence>
         <xsd:element name="codigo" type="xsd:string" minOccurs="0"/>
         <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="agregarFirmaDTO">
      <xsd:complexContent>
         <xsd:extension base="ns0:baseDTO">
            <xsd:sequence>
               <xsd:element name="firma" type="xsd:string"/>
               <xsd:element name="idTramite" type="xsd:string"/>
               <xsd:element name="idUsuario" type="xsd:string"/>
               <xsd:element name="numeroDocCiudadano" type="xsd:long"/>
               <xsd:element name="tipoDocCiudadano" type="xsd:string"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="agregarFirmaSalidaDTO">
      <xsd:complexContent>
         <xsd:extension base="ns0:firmaSalidaDTO">
            <xsd:sequence>
               <xsd:element name="idFirma" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="firmaSalidaDTO">
      <xsd:complexContent>
         <xsd:extension base="ns0:baseSalidaDTO">
            <xsd:sequence>
               <xsd:element name="resultado" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="borrarHuellasDTO">
      <xsd:complexContent>
         <xsd:extension base="ns0:baseDTO">
            <xsd:sequence>
               <xsd:element name="idUsuario" type="xsd:string"/>
               <xsd:element name="idUsuarioCreacion" type="xsd:string"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="estadisticasEntradaDTO">
      <xsd:sequence>
         <xsd:element name="idEntidad" type="xsd:string" minOccurs="0"/>
         <xsd:element name="tipo" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="estadisticasSalidaDTO">
      <xsd:complexContent>
         <xsd:extension base="ns0:baseSalidaDTO">
            <xsd:sequence>
               <xsd:element name="contador" type="xsd:int"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="sesionEntradaDTO">
      <xsd:sequence>
         <xsd:element name="sesion" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="sesionDTO">
      <xsd:complexContent>
         <xsd:extension base="ns0:baseDTO">
            <xsd:sequence>
               <xsd:element name="codigo" type="xsd:string" minOccurs="0"/>
               <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
               <xsd:element name="resultado" type="xsd:boolean" minOccurs="0"/>
               <xsd:element name="sesion" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="consultarFirmaDTO">
      <xsd:complexContent>
         <xsd:extension base="ns0:baseDTO">
            <xsd:sequence>
               <xsd:element name="idUsuario" type="xsd:string"/>
               <xsd:element name="idfirma" type="xsd:string"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="huellaDTO">
      <xsd:complexContent>
         <xsd:extension base="ns0:baseDTO">
            <xsd:sequence>
               <xsd:element name="idUsuario" type="xsd:string"/>
               <xsd:element name="idUsuarioCreacion" type="xsd:string"/>
               <xsd:element name="posicion" type="ns0:dedosEnum" minOccurs="0"/>
               <xsd:element name="imagenHuella" type="xsd:string"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="booleanSalidaDTO">
      <xsd:complexContent>
         <xsd:extension base="ns0:baseSalidaDTO">
            <xsd:sequence>
               <xsd:element name="resultado" type="xsd:boolean" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="constantesSalidaDTO">
      <xsd:complexContent>
         <xsd:extension base="ns0:baseSalidaDTO">
            <xsd:sequence>
               <xsd:element name="constante" type="ns0:constante" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="constante">
      <xsd:sequence>
         <xsd:element name="caracter" type="xsd:string" minOccurs="0"/>
         <xsd:element name="idConstante" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="obtenerFirmaSalidaDTO">
      <xsd:complexContent>
         <xsd:extension base="ns0:firmaSalidaDTO">
            <xsd:sequence>
               <xsd:element name="firma" type="xsd:string" minOccurs="0"/>
               <xsd:element name="idFirma" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="usuarioEntradaDTO">
      <xsd:sequence>
         <xsd:element name="idUsuario" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="logDTO">
      <xsd:complexContent>
         <xsd:extension base="ns0:baseDTO">
            <xsd:sequence>
               <xsd:element name="detalle" type="xsd:string"/>
               <xsd:element name="evento" type="xsd:string"/>
               <xsd:element name="idEntidad" type="xsd:string"/>
               <xsd:element name="idUsuario" type="xsd:string"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="claveDTO">
      <xsd:complexContent>
         <xsd:extension base="ns0:baseDTO">
            <xsd:sequence>
               <xsd:element name="clave" type="xsd:string"/>
               <xsd:element name="idUsuario" type="xsd:string"/>
               <xsd:element name="sesion" type="xsd:string"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="verificacionDTO">
      <xsd:complexContent>
         <xsd:extension base="ns0:baseDTO">
            <xsd:sequence>
               <xsd:element name="idUsuario" type="xsd:string"/>
               <xsd:element name="posicion" type="ns0:dedosEnum" minOccurs="0"/>
               <xsd:element name="sesion" type="xsd:string"/>
               <xsd:element name="imagenHuella" type="xsd:string"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="actualizarClave" type="ns0:actualizarClave"/>
   <xsd:element name="actualizarClaveResponse" type="ns0:actualizarClaveResponse"/>
   <xsd:element name="agregarFirma" type="ns0:agregarFirma"/>
   <xsd:element name="agregarFirmaResponse" type="ns0:agregarFirmaResponse"/>
   <xsd:element name="borrarHuellas" type="ns0:borrarHuellas"/>
   <xsd:element name="borrarHuellasResponse" type="ns0:borrarHuellasResponse"/>
   <xsd:element name="consultarEstadisticas" type="ns0:consultarEstadisticas"/>
   <xsd:element name="consultarEstadisticasResponse" type="ns0:consultarEstadisticasResponse"/>
   <xsd:element name="consultarSesion" type="ns0:consultarSesion"/>
   <xsd:element name="consultarSesionResponse" type="ns0:consultarSesionResponse"/>
   <xsd:element name="crearUsuario" type="ns0:crearUsuario"/>
   <xsd:element name="crearUsuarioResponse" type="ns0:crearUsuarioResponse"/>
   <xsd:element name="eliminarFirma" type="ns0:eliminarFirma"/>
   <xsd:element name="eliminarFirmaResponse" type="ns0:eliminarFirmaResponse"/>
   <xsd:element name="enrolarUsuario" type="ns0:enrolarUsuario"/>
   <xsd:element name="enrolarUsuarioResponse" type="ns0:enrolarUsuarioResponse"/>
   <xsd:element name="obtenerConstantes" type="ns0:obtenerConstantes"/>
   <xsd:element name="obtenerConstantesResponse" type="ns0:obtenerConstantesResponse"/>
   <xsd:element name="obtenerFirma" type="ns0:obtenerFirma"/>
   <xsd:element name="obtenerFirmaResponse" type="ns0:obtenerFirmaResponse"/>
   <xsd:element name="obtenerTipoSegundoFactor" type="ns0:obtenerTipoSegundoFactor"/>
   <xsd:element name="obtenerTipoSegundoFactorResponse" type="ns0:obtenerTipoSegundoFactorResponse"/>
   <xsd:element name="obtenerUsuario" type="ns0:obtenerUsuario"/>
   <xsd:element name="obtenerUsuarioResponse" type="ns0:obtenerUsuarioResponse"/>
   <xsd:element name="registrarEvento" type="ns0:registrarEvento"/>
   <xsd:element name="registrarEventoResponse" type="ns0:registrarEventoResponse"/>
   <xsd:element name="verificarClave" type="ns0:verificarClave"/>
   <xsd:element name="verificarClaveResponse" type="ns0:verificarClaveResponse"/>
   <xsd:element name="verificarUsuario" type="ns0:verificarUsuario"/>
   <xsd:element name="verificarUsuarioResponse" type="ns0:verificarUsuarioResponse"/>
   <xsd:element name="entradaUsuario" type="ns0:usuarioDTO"/>
   <xsd:simpleType name="dedosEnum">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="PULGAR_DERECHO"/>
         <xsd:enumeration value="INDICE_DERECHO"/>
         <xsd:enumeration value="CORAZON_DERECHO"/>
         <xsd:enumeration value="ANULAR_DERECHO"/>
         <xsd:enumeration value="MENIQUE_DERECHO"/>
         <xsd:enumeration value="PULGAR_IZQUIERDO"/>
         <xsd:enumeration value="INDICE_IZQUIERDO"/>
         <xsd:enumeration value="CORAZON_IZQUIERDO"/>
         <xsd:enumeration value="ANULAR_IZQUIERDO"/>
         <xsd:enumeration value="MENIQUE_IZQUIERDO"/>
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>