Proyectos/bus/ExpuestosExternamente/EstadoJuridicoFolio/Resources/Schemas/Legacy/CB_A_consultarAnotaciones.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema id="DatosAnotaciones"
	targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/anotaciones/consultarAnotaciones/v1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/anotaciones/consultarAnotaciones/v1"
	elementFormDefault="qualified" version="1.3">
	<xsd:complexType name="tipoEntradaDatosAnotacion">
		<xsd:annotation>
			<xsd:documentation xml:lang="es">El esquema define los
				datos de entrada para la operacion consultarAnotaciones
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="convenio" minOccurs="0"
				nillable="true">
				<xsd:annotation>
					<xsd:documentation>Código del nombre de convenio que tendría la SNR
						con la
						Entidad que consume el servicio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="256" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="tipoIdentificacionPredio"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde al tipo de identificacion por el
						cual podemos buscar un predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="matricula">
							<xsd:annotation>
								<xsd:documentation>En el campo numIdentificacionPredio deberá
									venir los
									tres primeros caracteres del cículo y luego si el
									número de
									matrícula
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="numeroPredial">
							<xsd:annotation>
								<xsd:documentation>Corresponde al CHIP, si es Bogotá o a la
									referencia o cédula catastral del predio.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="numeroPredialAnterior">
							<xsd:annotation>
								<xsd:documentation>Corresponde al anterior numero de
									Identifiación Predial.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="NUPRE">
							<xsd:annotation>
								<xsd:documentation>Número Único Predial
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numIdentificacionPredio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Al seleccionar un tipo de Identificación predio,
						se espera en este campo el número correspondiente; para el caso
						de
						matricula, el sistema toma los tres primeros caracteres como
						Código Circulo Registral y los siguientes como el Número de
						Matrícula Inmobiliaria.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="64" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="claseAnotacion" minOccurs="0"
				maxOccurs="1" nillable="false">
				<xsd:annotation>
					<xsd:documentation>Al seleccionar una clase de anotación, el
						sistema podrá distinguir entre una anotación normal y una
						anotación creada como Medida Cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="normal">
							<xsd:annotation>
								<xsd:documentation>Indica una anotación normal
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="medidaCautelar">
							<xsd:annotation>
								<xsd:documentation>Indica una Medida Cautelar
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoSalidaDatosAnotacion">
		<xsd:annotation>
			<xsd:documentation xml:lang="es">El esquema define los
				datos de salida para la operacion consultarAnotaciones
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="anotaciones" minOccurs="0"
				maxOccurs="unbounded" type="bachue:tipoAnotacion" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoAnotacion">
		<xsd:annotation>
			<xsd:documentation xml:lang="es">El esquema define los
				datos de salida para la operacion consultarAnotaciones
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="numAnotacion" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>numero anotación del predio consultado
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="anotacionesCanceladas" minOccurs="0"
				maxOccurs="unbounded" type="bachue:tipoAnotacionCancelada" />
			<xsd:element name="comentario" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Comentario que detalla la anotación.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codTipoDocumentoPublico" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Código del Nombre del documento
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fechaDocumento" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fecha de Otorgamiento del documento público.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:date"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomDocumentoPublico" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nombre del documento</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codDominioActoJuridico" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>corresponde al código o letra que identifica el
						dominio de la medida cautelar: X, H, C, A, D, E, O, P y V.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomDominioActoJuridico" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>corresponde al nombre correspondiente con la
						letra que identifica el dominio de la medida cautelar: MUTACIONES,
						HIPOTECAS, CANCELACIONES, AFECTACIONES, DEMANDAS, EMBARGOS,
						OFERTAS, PATRIMONIOS y VALORIZACIONES
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="oficinaOrigen" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>corresponde a la oficina de origen
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="comentarioEspecificoAnotacion"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Comentario específico de la anotación
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DRR" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>corresponde a un derecho, una restricción o una
						responsabilidad.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codNaturalezaJuridicaFolio"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde a los códigos de los actos jurídicos
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fechaAnotacion" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde a la fecha en que se realizó la
						anotación
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:date" />
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="intervinientes" minOccurs="0"
				maxOccurs="unbounded" type="bachue:tipoInterviniente" />
			<xsd:element name="NIR" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Número de Identificación Registral de cada
						anotación
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="radicacion" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde al turno</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="estadoAnotacion" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Determina que la anotación existe y tiene
						validez, valores perrmitidos; V, I.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="valorActo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde al monto de la transacción del acto
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codMensaje">
				<xsd:annotation>
					<xsd:documentation>200 cuando no hay error, 4* por errores de
						validación de campos de entrada o validación de negocio y 500
						cuando existen errores de sistema
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="descripcionMensaje">
				<xsd:annotation>
					<xsd:documentation>Corresponde a al mensaje de error para los casos
						en qeue la consulta no fue exitosa, vacío cuando la consulta es
						exitosa
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoInterviniente">
		<xsd:sequence>
			<xsd:element name="rolInterviniente" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>El rol del Interviniente, valores posibles DE o
						A
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="tipoPersona" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Natural o Jurídica</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="esPropietario" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Viene con "X" o "I", donde X significa que la
						persona natural o juridica es titular de derecho real principal
						del inmueble e I significa que es titular de derecho en falsa
						tradicion del inmueble.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="tipoDocumentoPersona" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Tipos de documento posibles de un interviniente:
						CC, CE, PA, TI, NUIP
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numDocumentoPersona" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Número de documento del interviniente
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numNIT" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Número de documento del interviniente
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="porcentajeParticipacion" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>porcentaje de participación</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primerNombre" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>primer apellido del interviniente
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="segundoNombre" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>segundo apellido del interviniente
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primerApellido" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>primer nombre del interviniente
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="segundoApellido" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>segundo nombre del interviniente
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codGenero" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Código Identidad Genero del interviniente 01
						para
						Masculino y 02 para Femenino
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="razonSocial" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>razon social del interviniente
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoAnotacionCancelada">
		<xsd:sequence>
			<xsd:element name="anotacionCancelada" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Numero de la anotción cancelada
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="entradaDatosAnotacion"
		type="bachue:tipoEntradaDatosAnotacion" />

	<xsd:element name="salidaDatosAnotacion"
		type="bachue:tipoSalidaDatosAnotacion" />
	<!-- Últimas modificaciones 2020-02-03 17:25 -->
</xsd:schema>