Proyectos/bus/ExpuestosExternamente/EstadoJuridicoFolio/Resources/Schemas/Legacy/CB_I_consultarDatosInmueble.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema id="DatosInmueble"
	targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/inmuebles/consultarDatosImueble/v1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/inmuebles/consultarDatosImueble/v1"
	elementFormDefault="qualified" version="1.3">
	<xsd:complexType name="tipoEntradaDatosInmueble">
		<xsd:annotation>
			<xsd:documentation xml:lang="es">El esquema define los
				datos de entrada para la operacion consultarDatosInmueble
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="convenio" minOccurs="0" maxOccurs="1"
				nillable="false">
				<xsd:annotation>
					<xsd:documentation>Código del nombre de convenio que tendría la SNR
						con la
						Entidad que consume el servicio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="256" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="tipoIdentificacionPredio"
				minOccurs="0" maxOccurs="1" nillable="false">
				<xsd:annotation>
					<xsd:documentation>Corresponde al tipo de identificacion por el
						cual podemos buscar un predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="matricula">
							<xsd:annotation>
								<xsd:documentation>En el campo numIdentificacionPredio deberá
									venir los
									tres primeros caracteres del cículo y luego si el
									número de
									matrícula
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="numeroPredial">
							<xsd:annotation>
								<xsd:documentation>Corresponde al CHIP, si es Bogotá o a la
									referencia o cédula catastral del predio.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="numeroPredialAnterior">
							<xsd:annotation>
								<xsd:documentation>Corresponde al anterior numero de
									Identifiación Predial.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="NUPRE">
							<xsd:annotation>
								<xsd:documentation>Número Único Predial
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numIdentificacionPredio" minOccurs="0"
				maxOccurs="1" nillable="false">
				<xsd:annotation>
					<xsd:documentation>Al seleccionar un tipo de Identificación predio,
						se espera en este campo el número correspondiente; para el caso
						de
						matricula, el sistema toma los tres primeros caracteres como
						Código Circulo Registral y los siguientes como el Número de
						Matrícula Inmobiliaria.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="64" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoSalidaDatosInmueble">
		<xsd:annotation>
			<xsd:documentation xml:lang="es">El esquema define los
				datos de salida para la operacion consultarDatosInmueble
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="numMatriculaInmobiliaria"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>corresponde al número de matrícula que
						identifica al predio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codCirculoRegistral" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>corresponde a la ORIP donde se ha registrado el
						predio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomCirculoRegistral" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nombre de la ORIP al que corresponde el predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="400" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NUPRE" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Número Único Predial
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="64"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="estadoNUPRE" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>se espera alguno de los siguientes estados:
						Gestor,
						Registro, Autoridad catastral y Temporal.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numPredial" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Código Catastral Actual</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numPredialAnterior" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Código Catastral Anterior</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="direccionPredio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde a la dirección del predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codDepartamento" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>corresponde al código del departamento según
						DANE donde se ha registrado el predio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomDepartamento" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>corresponde al nombre del departamento donde se
						ubica el predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codMunicipio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>corresponde al código del municipio según DANE
						donde se ha registrado el predio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomMunicipio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>corresponde al nombre del municipio donde se
						ubica el predio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomVereda" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>corresponde a la vereda donde se ubica el
						predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomBarrio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>corresponde al barrio donde se ubica el predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fechaAperturaFolio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fecha de apertura</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime" />
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fechaInstrumento" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Fecha de apertura</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime" />
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="radicacion" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Numero de radicación de la apertura
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomTipoDocumentoPublico" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nombre del Tipo de documento público
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NIR" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Número de Identificación Registral de la
						apertura
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="areaInmueble" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Area del Inmueble es la superficie que
						generalmente se ve reflejada en el registro público de la
						propiedad. Se dará en Metros cuadrados.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:long"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="areaConstruida" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Area es el área construida del inmueble, es la
						superficie
						total del predio, incluye elementos adicionales como
						ductos,
						columnas y falseados. Se dará en Metros cuadrados.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:long"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="areaPrivada" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Áea privada del inmueble: Se refiere a toda la
						superficie que se puede pisar. Incluye todo el espacio interior
						del predio. Se dará en Metros Cuadrados.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:long"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="estadoFolio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Estado Temporalidad Folio, los valores que se
						esperan son ACTIVO, CERRADO
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="tipoPredio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>No obligatorio, de cara al CTL lo dejan "SIN
						INFORMACION" cuando no hay dato. Ejemplo: 50C-1248183
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="linderos" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde a los linderos del predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="complementaciones" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde a las complementaciones del predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codMensaje" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>200 cuando no hay error, 4* por errores de
						validación de campos de entrada o validación de negocio y 500
						cuando existen errores de sistema
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="descripcionMensaje" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Corresponde a al mensaje de error para los casos
						en qeue la consulta no fue exitosa, vacío cuando la consulta es
						exitosa
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="entradaDatosInmueble"
		type="bachue:tipoEntradaDatosInmueble" />
	<xsd:element name="salidaDatosInmueble"
		type="bachue:tipoSalidaDatosInmueble" />
	<!-- Últimas modificaciones 2020-02-03 16:26 -->
</xsd:schema>