Proyectos/bus/ExpuestosExternamente/SolicitudDeCopias/Resources/WSDLs/SDI_EE_SolicitudDeCopias.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/ee/solicituddecopias/v1"
                  targetNamespace="https://www.supernotariado.gov.co/services/bachue/ee/solicituddecopias/v1"
                  xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecopias/ingresosolicitud/v1"
                  xmlns:bachue2="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecopias/consultarsolicitud/v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecopias/ingresosolicitud/v1"
              schemaLocation="../Schemas/Legacy/EE_SDC_IngresoSolicitud.xsd"/>
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecopias/consultarsolicitud/v1"
              schemaLocation="../Schemas/Legacy/EE_SDC_ConsultarSolicitud.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="IngresoSolicitud_Request">
    <wsdl:part name="entrada" element="bachue1:entradaIngresoSolicitud"/>
  </wsdl:message>
  <wsdl:message name="IngresoSolicitud_Response">
    <wsdl:part name="salida" element="bachue1:salidaIngresoSolicitud"/>
  </wsdl:message>
  <wsdl:message name="ConsultarSolicitud_Request">
    <wsdl:part name="entrada" element="bachue2:entradaConsultarSolicitud"/>
  </wsdl:message>
  <wsdl:message name="ConsultarSolicitud_Response">
    <wsdl:part name="salida" element="bachue2:salidaConsultarSolicitud"/>
  </wsdl:message>
  <wsdl:portType name="SDI_EE_SolicitudDeCopias">
    <wsdl:operation name="IngresoSolicitud">
      <wsdl:input message="bachue:IngresoSolicitud_Request"/>
      <wsdl:output message="bachue:IngresoSolicitud_Response"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSolicitud">
      <wsdl:input message="bachue:ConsultarSolicitud_Request"/>
      <wsdl:output message="bachue:ConsultarSolicitud_Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SDI_EE_SolicitudDeCopias" type="bachue:SDI_EE_SolicitudDeCopias">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="IngresoSolicitud">
      <soap12:operation style="document"
                        soapAction="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecopias/ingresosolicitud/v1"/>
      <wsdl:input>
        <soap12:body use="literal" parts="entrada"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="salida"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSolicitud">
      <soap12:operation style="document"
                        soapAction="https://www.supernotariado.gov.co/schemas/bachue/ee/solicituddecopias/consultarsolicitud/v1"/>
      <wsdl:input>
        <soap12:body use="literal" parts="entrada"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="salida"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SDI_EE_SolicitudDeCopias">
    <wsdl:port name="SDI_EE_SolicitudDeCopiasPort" binding="bachue:SDI_EE_SolicitudDeCopias">
      <soap12:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>