Proyectos/bus/ExpuestosExternamente/ImpuestosGobernaciones/Resources/WSDLs/BS_SBB_CB_ImpuestosGobernaciones.wsdl

<wsdl:definitions targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/impuestosgobernaciones/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/impuestosgobernaciones/v1" xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/cb/impuestosgobernaciones/notificarliquidacion/v1" xmlns:bachue2="https://www.supernotariado.gov.co/schemas/bachue/cb/impuestosgobernaciones/notificarpago/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/cb/impuestosgobernaciones/notificarliquidacion/v1" schemaLocation="../Schemas/Legacy/CB_IG_NotificarLiquidacion.xsd"/>
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/cb/impuestosgobernaciones/notificarpago/v1" schemaLocation="../Schemas/Legacy/CB_IG_NotificarPago.xsd"/>
     </schema>
  </wsdl:types>
  
  <wsdl:message name="NotificarLiquidacion_Request">
    <wsdl:part name="entrada" element="bachue1:entradaNotificarLiquidacion"/>
  </wsdl:message>
  <wsdl:message name="NotificarLiquidacion_Response">
    <wsdl:part name="salida" element="bachue1:salidaNotificarLiquidacion"/>
  </wsdl:message>
  
  <wsdl:message name="NotificarPago_Request">
    <wsdl:part name="entrada" element="bachue2:entradaNotificarPago"/>
  </wsdl:message>
  <wsdl:message name="NotificarPago_Response">
    <wsdl:part name="salida" element="bachue2:salidaNotificarPago"/>
  </wsdl:message>
  
  <wsdl:portType name="SBB_CB_ImpuestosGobernaciones">
    <wsdl:operation name="NotificarLiquidacion">
      <wsdl:input message="bachue:NotificarLiquidacion_Request"/>
      <wsdl:output message="bachue:NotificarLiquidacion_Response"/>
    </wsdl:operation>
    <wsdl:operation name="NotificarPago">
      <wsdl:input message="bachue:NotificarPago_Request"/>
      <wsdl:output message="bachue:NotificarPago_Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SBB_CB_ImpuestosGobernacionesSOAP12Binding" type="bachue:SBB_CB_ImpuestosGobernaciones">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NotificarLiquidacion">
      <soap12:operation style="document" soapAction="https://www.supernotariado.gov.co/services/bachue/cb/impuestosgobernaciones/v1/NotificarLiquidacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="entrada"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="salida"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarPago">
      <soap12:operation style="document" soapAction="https://www.supernotariado.gov.co/services/bachue/cb/impuestosgobernaciones/v1/NotificarPago"/>
      <wsdl:input>
        <soap12:body use="literal" parts="entrada"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="salida"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SBB_CB_ImpuestosGobernaciones">
    <wsdl:port name="SBB_CB_ImpuestosGobernacionesPort" binding="bachue:SBB_CB_ImpuestosGobernacionesSOAP12Binding">
      <soap12:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>