Proyectos/bus/ExpuestosExternamente/EstadoJuridicoFolio/Resources/Schemas/EE_EJF_consultarEstadoJuridico.xsd

<xsd:schema id="DatosConsultaJuridicaFolio"
            targetNamespace="http://www.gobiernoenlinea.gov.co/GEL-XML/1.0/schemas/integracion/supernotariado/bachue"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:bachue="http://www.gobiernoenlinea.gov.co/GEL-XML/1.0/schemas/integracion/supernotariado/bachue"
            elementFormDefault="qualified" version="1.3">
  <xsd:complexType name="tipoEntradaConsultaJuridicaFolio">
    <xsd:annotation>
      <xsd:documentation xml:lang="es">El esquema define los
				datos de entrada para la operacion consultarEstadoJuridico
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence minOccurs="1" maxOccurs="1">
      <xsd:element name="tipoIdentificacionPredio" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation>
          <xsd:documentation>Corresponde al tipo de identificacion por el
						cual podemos buscar un predio.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="matricula">
              <xsd:annotation>
                <xsd:documentation>En el campo numIdentificacionPredio deberá
									venir los
									tres primeros caracteres del cículo y luego si el
									número de
									matrícula
								</xsd:documentation>
              </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="numeroPredial">
              <xsd:annotation>
                <xsd:documentation>Corresponde al CHIP, si es Bogotá o a la
									referencia o cédula catastral del predio.
								</xsd:documentation>
              </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="numeroPredialAnterior">
              <xsd:annotation>
                <xsd:documentation>Corresponde al anterior numero de
									Identifiación Predial.
								</xsd:documentation>
              </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="NUPRE">
              <xsd:annotation>
                <xsd:documentation>Número Único Predial
								</xsd:documentation>
              </xsd:annotation>
            </xsd:enumeration>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="numIdentificacionPredio" minOccurs="1" maxOccurs="1" nillable="false">
        <xsd:annotation>
          <xsd:documentation>Al seleccionar un tipo de Identificación predio,
						se espera en este campo el número correspondiente; para el caso
						de
						Matricula, el sistema toma los tres primeros caracteres como
						Código Circulo Registral y los siguientes como el Número de
						Matrícula Inmobiliaria.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="64"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="convenio" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:annotation>
          <xsd:documentation>Nombre del código de convenio que tendría la SNR con la
						Entidad que consume el servicio
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="256"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tipoSalidaConsultaEstadoJuridicoFolio">
    <xsd:annotation>
      <xsd:documentation xml:lang="es">El esquema define los
				datos de salida para la operacion Consultar Estado Jurídico
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence minOccurs="1" maxOccurs="1">
      <xsd:element name="numMatriculaInmobiliaria">
        <xsd:annotation>
          <xsd:documentation>folio de matrícula inmobiliaria del predio
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="codCirculoRegistral">
        <xsd:annotation>
          <xsd:documentation>código de la ORIP</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"></xsd:maxLength>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="nomCirculoRegistral">
        <xsd:annotation>
          <xsd:documentation>nombre de la ORIP</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400"></xsd:maxLength>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="numPredial">
        <xsd:annotation>
          <xsd:documentation>Numero Predial</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"></xsd:maxLength>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="numPredialAnterior">
        <xsd:annotation>
          <xsd:documentation>Número Predial Anterior</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"></xsd:maxLength>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NUPRE">
        <xsd:annotation>
          <xsd:documentation>Numero Único Predial</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="64"></xsd:maxLength>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="estadoNUPRE">
        <xsd:annotation>
          <xsd:documentation>se espera alguno de los siguientes estados:
						Gestor,
						Registro, Autoridad catastral y Temporal.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="direccionPredio">
        <xsd:annotation>
          <xsd:documentation>dirección lugar del predio</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="codDepartamento">
        <xsd:annotation>
          <xsd:documentation>código Dane del departamento</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="nomDepartamento">
        <xsd:annotation>
          <xsd:documentation>nombre del departamento</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="codMunicipio">
        <xsd:annotation>
          <xsd:documentation>código Dane del municipio</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="nomMunicipio">
        <xsd:annotation>
          <xsd:documentation>nombre del municipio</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="propietarios" minOccurs="1" maxOccurs="unbounded" type="bachue:tipoPropietario"/>
      <xsd:element name="anotaciones" minOccurs="1" maxOccurs="unbounded" type="bachue:tipoAnotacion"/>
      <xsd:element name="matriculasMatriz" minOccurs="1" maxOccurs="unbounded" type="bachue:tipoMatriculaMatriz"/>
      <xsd:element name="matriculasDerivadas" minOccurs="1" maxOccurs="unbounded" type="bachue:tipoMatriculaDerivada"/>
      <xsd:element name="medidasCautelares" minOccurs="1" maxOccurs="unbounded" type="bachue:tipoMedidaCautelar"/>
      <xsd:element name="codMensaje">
        <xsd:annotation>
          <xsd:documentation>200 cuando no hay error, 409 por errores de
						validación de campos de entrada o validación de negocio y 500
						cuando existen errores de sistema
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="descripcionMensaje">
        <xsd:annotation>
          <xsd:documentation>Corresponde a al mensaje de error para los casos
						en qeue la consulta no fue exitosa, vacío cuando la consulta es
						exitosa
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="numeroConsulta">
        <xsd:annotation>
          <xsd:documentation>Corresponde a una seuencia o id que identifica
						cada consulta.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:long"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="fechaHoraConsulta">
        <xsd:annotation>
          <xsd:documentation>la fecha y hora en la que hubo una respuesta de
						la consulta.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tipoPropietario">
    <xsd:sequence>
      <xsd:element name="tipoPersona">
        <xsd:annotation>
          <xsd:documentation>Natural o Jurídica
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="tipoDocumentoPersona">
        <xsd:annotation>
          <xsd:documentation>Tipos de documento posibles de un propietario:
						CC, CE, PA, TI, NUIP
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="numDocumentoPersona">
        <xsd:annotation>
          <xsd:documentation>Número de documento del propietario cuando es:
						tipo de persona: Natural
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="numNIT">
        <xsd:annotation>
          <xsd:documentation>Número de Identificación Tributaria
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="primerApellido">
        <xsd:annotation>
          <xsd:documentation>primer apellido del propietario
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="segundoApellido">
        <xsd:annotation>
          <xsd:documentation>segundo apellido del propietario
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="primerNombre">
        <xsd:annotation>
          <xsd:documentation>primer nombre del propietario
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="segundoNombre">
        <xsd:annotation>
          <xsd:documentation>segundo nombre del propietario
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="codGenero">
        <xsd:annotation>
          <xsd:documentation>Código Identidad Genero del propietario 01 para
						Masculino y 02 para Femenino
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="razonSocial">
        <xsd:annotation>
          <xsd:documentation>razon social del propietario</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="porcentajeParticipacion">
        <xsd:annotation>
          <xsd:documentation>porcentaje de participación</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tipoAnotacion">
    <xsd:sequence>
      <xsd:element name="numAnotacion">
        <xsd:annotation>
          <xsd:documentation>numero anotación del predio consultado
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="anotacionesCanceladas" minOccurs="1" maxOccurs="unbounded"
                   type="bachue:tipoAnotacionCancelada"/>
      <xsd:element name="comentario">
        <xsd:annotation>
          <xsd:documentation>Comentario que detalla la anotación.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="codTipoDocumentoPublico">
        <xsd:annotation>
          <xsd:documentation>Código del Nombre del documento
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="fechaDocumento">
        <xsd:annotation>
          <xsd:documentation>Fecha de Otorgamiento del documento público.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:date"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="nomDocumentoPublico">
        <xsd:annotation>
          <xsd:documentation>Nombre del documento</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="codDominioActoJuridico">
        <xsd:annotation>
          <xsd:documentation>corresponde al código o letra que identifica el
						dominio de la medida cautelar: X, H, C, A, D, E, O, P y V.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="nomDominioActoJuridico">
        <xsd:annotation>
          <xsd:documentation>corresponde al nombre correspondiente con la
						letra que identifica el dominio de la medida cautelar: MUTACIONES,
						HIPOTECAS, CANCELACIONES, AFECTACIONES, DEMANDAS, EMBARGOS,
						OFERTAS, PATRIMONIOS y VALORIZACIONES
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="oficinaOrigen">
        <xsd:annotation>
          <xsd:documentation>corresponde a la oficina de origen
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="comentarioEspecificoAnotacion">
        <xsd:annotation>
          <xsd:documentation>Comentario específico de la anotación
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DRR">
        <xsd:annotation>
          <xsd:documentation>corresponde a un derecho, una restricción o una
						responsabilidad.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="codNaturalezaJuridicaFolio">
        <xsd:annotation>
          <xsd:documentation>Corresponde a los códigos de los actos jurídicos
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="fechaAnotacion">
        <xsd:annotation>
          <xsd:documentation>Corresponde a la fecha en que se realizó la
						anotación
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:date"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="intervinientes" minOccurs="1" maxOccurs="unbounded" type="bachue:tipoInterviniente"/>
      <xsd:element name="NIR">
        <xsd:annotation>
          <xsd:documentation>Número de Identificación Registral de cada
						anotación
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="radicacion">
        <xsd:annotation>
          <xsd:documentation>Corresponde al turno</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="estadoAnotacion">
        <xsd:annotation>
          <xsd:documentation>Determina que la anotación existe y tiene
						validez, valores perrmitidos; V, I.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="valorActo">
        <xsd:annotation>
          <xsd:documentation>Corresponde al monto de la transacción del acto
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tipoInterviniente">
    <xsd:sequence>
      <xsd:element name="rolInterviniente">
        <xsd:annotation>
          <xsd:documentation>El rol del Interviniente, valores posibles DE o
						A
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="tipoPersona">
        <xsd:annotation>
          <xsd:documentation>Natural o Jurídica</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="esPropietario">
        <xsd:annotation>
          <xsd:documentation>Viene con "X" o "I", donde X significa que la
						persona natural o juridica es titular de derecho real principal
						del inmueble e I significa que es titular de derecho en falsa
						tradicion del inmueble.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="tipoDocumentoPersona">
        <xsd:annotation>
          <xsd:documentation>Tipos de documento posibles de un interviniente:
						CC, CE, PA, TI, NUIP
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="numDocumentoPersona">
        <xsd:annotation>
          <xsd:documentation>Número de documento del interviniente
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="numNIT">
        <xsd:annotation>
          <xsd:documentation>Número de documento del interviniente
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="porcentajeParticipacion">
        <xsd:annotation>
          <xsd:documentation>porcentaje de participación</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="primerNombre">
        <xsd:annotation>
          <xsd:documentation>primer apellido del interviniente
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="segundoNombre">
        <xsd:annotation>
          <xsd:documentation>segundo apellido del interviniente
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="primerApellido">
        <xsd:annotation>
          <xsd:documentation>primer nombre del interviniente
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="segundoApellido">
        <xsd:annotation>
          <xsd:documentation>segundo nombre del interviniente
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="codGenero">
        <xsd:annotation>
          <xsd:documentation>Código Identidad Genero del interviniente 01
						para
						Masculino y 02 para Femenino
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="razonSocial">
        <xsd:annotation>
          <xsd:documentation>razon social del interviniente
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tipoMatriculaMatriz">
    <xsd:sequence>
      <xsd:element name="numMatriculaInmobiliaria">
        <xsd:annotation>
          <xsd:documentation>corresponde a un número de matrícula de las
						matrículas matriz
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="codCirculoRegistral">
        <xsd:annotation>
          <xsd:documentation>Corresponde al círculo donde registró el predio
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tipoMatriculaDerivada">
    <xsd:sequence>
      <xsd:element name="numMatriculaInmobiliaria">
        <xsd:annotation>
          <xsd:documentation>corresponde a un número de matrícula de las
						matrículas derivadas
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="codCirculoRegistral">
        <xsd:annotation>
          <xsd:documentation>Corresponde al círculo donde registró el predio
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="direccionPredio">
        <xsd:annotation>
          <xsd:documentation>corresponde a la dirección de la matricula
						relacionada
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NIR">
        <xsd:annotation>
          <xsd:documentation>corresponde al NIR de la anotación
						sobre la
						matricula relacionada
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="radicacion">
        <xsd:annotation>
          <xsd:documentation>corresponde a la radicación de la anotación
						sobre la matricula relacionada
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="anotacionRelacionada">
        <xsd:annotation>
          <xsd:documentation>corresponde al número de anotación de la
						matricula relacionada
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tipoMedidaCautelar">
    <xsd:sequence>
      <xsd:element name="numAnotacion">
        <xsd:annotation>
          <xsd:documentation>numero anotación que corresponde a la medida
						cautelar en el predio consultado
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="anotacionesCanceladas" minOccurs="1" maxOccurs="unbounded"
                   type="bachue:tipoAnotacionCancelada"/>
      <xsd:element name="comentario">
        <xsd:annotation>
          <xsd:documentation>Comentario que detalla la anotación y da idea de
						la medida cautelar
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="codTipoDocumentoPublico">
        <xsd:annotation>
          <xsd:documentation>Código del Tipo de documento público
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="fechaDocumento">
        <xsd:annotation>
          <xsd:documentation>fecha del documento</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:date"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="nomDocumentoPublico">
        <xsd:annotation>
          <xsd:documentation>Nombre del documento público
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="codDominioActoJuridico">
        <xsd:annotation>
          <xsd:documentation>corresponde al código o letra que identifica el
						dominio de la medida cautelar: X, H, C, A, D, E, O, P y V.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="nomDominioActoJuridico">
        <xsd:annotation>
          <xsd:documentation>corresponde al nombre correspondiente con la
						letra que identifica el dominio de la medida cautelar: MUTACIONES,
						HIPOTECAS, CANCELACIONES, AFECTACIONES, DEMANDAS, EMBARGOS,
						OFERTAS, PATRIMONIOS y VALORIZACIONES
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="oficinaOrigen">
        <xsd:annotation>
          <xsd:documentation>corresponde a la oficina de origen
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="comentarioEspecificoAnotacion">
        <xsd:annotation>
          <xsd:documentation>Comentario específico de la anotación como
						medida cautelar
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DRR">
        <xsd:annotation>
          <xsd:documentation>corresponde a un derecho, una restricción o una
						responsabilidad.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="codNaturalezaJuridicaFolio">
        <xsd:annotation>
          <xsd:documentation>Corresponde a los códigos de los actos jurídicos
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="fechaAnotacion">
        <xsd:annotation>
          <xsd:documentation>Corresponde a la fecha en que se realizó la
						anotación
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="intervinientes" minOccurs="1" maxOccurs="unbounded" type="bachue:tipoInterviniente"/>
      <xsd:element name="NIR">
        <xsd:annotation>
          <xsd:documentation>Número de Identificación Registral de cada
						anotación
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="radicacion">
        <xsd:annotation>
          <xsd:documentation>Turno de cada anotación</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="estadoAnotacion">
        <xsd:annotation>
          <xsd:documentation>Determina que la anotación existe y tiene
						validez, valores perrmitidos; V, I.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="valorActo">
        <xsd:annotation>
          <xsd:documentation>Corresponde al monto de la transacción del acto
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tipoAnotacionCancelada">
    <xsd:sequence>
      <xsd:element name="anotacionCancelada">
        <xsd:annotation>
          <xsd:documentation>Numero de la anotción cancelada
					</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"></xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultaEstadoJuridicoRespuesta" type="bachue:tipoSalidaConsultaEstadoJuridicoFolio"/>
  <xsd:element name="consultaEstadoJuridicaSolicitud" type="bachue:tipoEntradaConsultaJuridicaFolio"/>
  <!-- Últimas modificaciones 2020-02-13 15:12 -->
</xsd:schema>