Proyectos/bus/ExpuestosExternamente/HistoricoPropietarios/Resources/WSDLs/SBB_EE_HistoricoPropietarios.wsdl

<wsdl:definitions targetNamespace="https://www.supernotariado.gov.co/services/bachue/ee/SBB_EE_HistoricoPropietarios/v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/ee/SBB_EE_HistoricoPropietarios/v1"
                  xmlns:bachue2="https://www.supernotariado.gov.co/services/bachue/ee/cb/SBB_CB_HistoricoPropietarios/consultarHistoricoPropiedades/v1"
                  xmlns:bachue3="https://www.supernotariado.gov.co/services/bachue/cb/SBB_CB_HistoricoPropietarios/consultarHistoricoPropietarios/v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="https://www.supernotariado.gov.co/services/bachue/ee/cb/SBB_CB_HistoricoPropietarios/consultarHistoricoPropiedades/v1"
              schemaLocation="../Schemas/EE_HP_consultarHistoricoPropiedades.xsd"/>
      <import namespace="https://www.supernotariado.gov.co/services/bachue/cb/SBB_CB_HistoricoPropietarios/consultarHistoricoPropietarios/v1"
              schemaLocation="../Schemas/EE_HP_consultarHistoricoPropietarios.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="ConsultarHistoricoPropiedades_Request">
    <wsdl:part name="entrada" element="bachue2:entradaConsultarHistoricoPropiedades"/>
  </wsdl:message>
  <wsdl:message name="ConsultarHistoricoPropiedades_Response">
    <wsdl:part name="salida" element="bachue2:salidaConsultarHistoricoPropiedades"/>
  </wsdl:message>
  <wsdl:message name="ConsultarHistoricoPropietarios_Request">
    <wsdl:part name="entrada" element="bachue3:entradaConsultarHistoricoPropietarios"/>
  </wsdl:message>
  <wsdl:message name="ConsultarHistoricoPropietarios_Response">
    <wsdl:part name="salida" element="bachue3:salidaConsultarHistoricoPropietarios"/>
  </wsdl:message>
  <wsdl:portType name="SBB_EE_HistoricoPropietarios">
    <wsdl:operation name="consultarHistoricoPropiedades">
      <wsdl:input message="bachue:ConsultarHistoricoPropiedades_Request"/>
      <wsdl:output message="bachue:ConsultarHistoricoPropiedades_Response"/>
    </wsdl:operation>
    <wsdl:operation name="consultarHistoricoPropietarios">
      <wsdl:input message="bachue:ConsultarHistoricoPropietarios_Request"/>
      <wsdl:output message="bachue:ConsultarHistoricoPropietarios_Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SBB_EE_HistoricoPropietarios" type="bachue:SBB_EE_HistoricoPropietarios">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarHistoricoPropiedades">
      <soap12:operation style="document"
                        soapAction="https://www.supernotariado.gov.co/services/bachue/cb/SBB_CB_HistoricoPropietarios/v1/consultarHistoricoPropiedades"/>
      <wsdl:input>
        <soap12:body use="literal" parts="entrada"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="salida"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarHistoricoPropietarios">
      <soap12:operation style="document"
                        soapAction="https://www.supernotariado.gov.co/services/bachue/cb/SBB_CB_HistoricoPropietarios/v1/consultarHistoricoPropietarios"/>
      <wsdl:input>
        <soap12:body use="literal" parts="entrada"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="salida"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SBB_EE_HistoricoPropietarios">
    <wsdl:port name="SBB_EE_HistoricoPropietariosPort" binding="bachue:SBB_EE_HistoricoPropietarios">
      <soap12:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>