Proyectos/bus/ExpuestosExternamente/CambioLinderosPredios/Resources/Schemas/Legacy/EE_CC_ConsultaSegregacionConCambioPropietario.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema id="ConsultaSegregacionConCambioPropietario"
            targetNamespace="https://www.supernotariado.gov.co/schemas/bachue/ee/cambioLinderosPredios/consultaSegregacionConCambioPropietario/v1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:bachue="https://www.supernotariado.gov.co/schemas/bachue/ee/cambioLinderosPredios/consultaSegregacionConCambioPropietario/v1"
            elementFormDefault="qualified" version="1.3">
  <xsd:complexType name="tipoEntradaConsultaSegregacionConCambioPropietario">
    <xsd:sequence>
      <xsd:element name="tipoIdentificacionPredio" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="matricula"/>
            <xsd:enumeration value="numeroPredial"/>
            <xsd:enumeration value="numeroPredialAnterior"/>
            <xsd:enumeration value="NUPRE"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="numIdentificacionPredio" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="entradaConsultaSegregacionConCambioPropietario"
               type="bachue:tipoEntradaConsultaSegregacionConCambioPropietario"/>
  <xsd:complexType name="tipoSalidaConsultaSegregacionConCambioPropietario">
    <xsd:sequence>
      <xsd:element name="codDepartamento" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="codMunicipio" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="codCirculoRegistral" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="segregacion" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="codigoActo" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xsd:element name="descripcionActo" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xsd:element name="matriculaMatriz" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="numMatriculaInmobiliaria" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="direccion" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="estado" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                  <xsd:element name="anotacionPredio" minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="comentario" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="fechaAnotacion" type="xsd:dateTime" minOccurs="0"/>
                        <xsd:element name="valorActo" type="xsd:double" minOccurs="0"/>
                        <xsd:element name="propietarios" minOccurs="0">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="propietario" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="tipoPersona" minOccurs="0" type="xsd:string"/>
                                    <xsd:element name="tipoDocumentoPersona" minOccurs="0" type="xsd:string"/>
                                    <xsd:element name="numDocumentoPersona" minOccurs="0" type="xsd:string"/>
                                    <xsd:element name="DRR" minOccurs="0" type="xsd:string"/>
                                    <xsd:element name="porcentajeParticipacion" minOccurs="0" type="xsd:string"/>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="matriculasSegregadas" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="matriculaSegregada" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="numMatriculaInmobiliaria" type="xsd:string" minOccurs="0" maxOccurs="1"
                                     nillable="true"/>
                        <xsd:element name="direccion" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="estado" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                        <xsd:element name="anotacionPredio" minOccurs="0">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="comentario" type="xsd:string" minOccurs="0"/>
                              <xsd:element name="fechaAnotacion" type="xsd:dateTime" minOccurs="0"/>
                              <xsd:element name="valorActo" type="xsd:double" minOccurs="0"/>
                              <xsd:element name="propietarios" minOccurs="0">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="propietario" minOccurs="0" maxOccurs="unbounded">
                                      <xsd:complexType>
                                        <xsd:sequence>
                                          <xsd:element name="tipoPersona" minOccurs="0" type="xsd:string"/>
                                          <xsd:element name="tipoDocumentoPersona" minOccurs="0" type="xsd:string"/>
                                          <xsd:element name="numDocumentoPersona" minOccurs="0" type="xsd:string"/>
                                          <xsd:element name="DRR" minOccurs="0" type="xsd:string"/>
                                          <xsd:element name="porcentajeParticipacion" minOccurs="0" type="xsd:string"/>
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="agregacion" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="codigoActo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="descripcionActo" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xsd:element name="matriculasMatrices" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="matriculaMatriz" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="numMatriculaInmobiliaria" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="direccion" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                        <xsd:element name="estado" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="anotacionPredio" minOccurs="0">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="comentario" type="xsd:string" minOccurs="0"/>
                              <xsd:element name="fechaAnotacion" type="xsd:dateTime" minOccurs="0"/>
                              <xsd:element name="valorActo" type="xsd:double" minOccurs="0"/>
                              <xsd:element name="propietarios" minOccurs="0">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="propietario" minOccurs="0" maxOccurs="unbounded">
                                      <xsd:complexType>
                                        <xsd:sequence>
                                          <xsd:element name="tipoPersona" minOccurs="0" type="xsd:string"/>
                                          <xsd:element name="tipoDocumentoPersona" minOccurs="0" type="xsd:string"/>
                                          <xsd:element name="numDocumentoPersona" minOccurs="0" type="xsd:string"/>
                                          <xsd:element name="DRR" minOccurs="0" type="xsd:string"/>
                                          <xsd:element name="porcentajeParticipacion" minOccurs="0" type="xsd:string"/>
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="matriculaAgregada" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="numMatriculaInmobiliaria" type="xsd:string" minOccurs="0" maxOccurs="1"
                               nillable="true"/>
                  <xsd:element name="direccion" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="estado" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                  <xsd:element name="anotacionPredio" minOccurs="0">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="comentario" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="fechaAnotacion" type="xsd:dateTime" minOccurs="0"/>
                        <xsd:element name="valorActo" type="xsd:double" minOccurs="0"/>
                        <xsd:element name="propietarios" minOccurs="0">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="propietario" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="tipoPersona" minOccurs="0" type="xsd:string"/>
                                    <xsd:element name="tipoDocumentoPersona" minOccurs="0" type="xsd:string"/>
                                    <xsd:element name="numDocumentoPersona" minOccurs="0" type="xsd:string"/>
                                    <xsd:element name="DRR" minOccurs="0" type="xsd:string"/>
                                    <xsd:element name="porcentajeParticipacion" minOccurs="0" type="xsd:string"/>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="codMensaje" type="xsd:integer"/>
      <xsd:element name="descripcionMensaje" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="salidaConsultaSegregacionConCambioPropietario"
               type="bachue:tipoSalidaConsultaSegregacionConCambioPropietario"/>
</xsd:schema>
