Proyectos/bus/ExpuestosExternamente/CambioLinderosPredios/Resources/WSDLs/SBB_EE_CambioLinderosPredios.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/ee/cambiolinderospredios/v1"
                  targetNamespace="https://www.supernotariado.gov.co/services/bachue/ee/cambiolinderospredios/v1"
                  xmlns:bachue2="https://www.supernotariado.gov.co/schemas/bachue/ee/cambioLinderosPredios/consultaSegregacionSinCambioPropietario/v1"
                  xmlns:bachue3="https://www.supernotariado.gov.co/schemas/bachue/ee/cambioLinderosPredios/consultaSegregacionConCambioPropietario/v1"
                  xmlns:bachue4="https://www.supernotariado.gov.co/schemas/bachue/ee/cambioLinderosPredios/registrarSegregacionCambioLinderosCatastro/v1"																																		 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/ee/cambioLinderosPredios/consultaSegregacionSinCambioPropietario/v1"
              schemaLocation="../Schemas/Legacy/EE_CC_ConsultaSegregacionSinCambioPropietario.xsd"/>
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/ee/cambioLinderosPredios/consultaSegregacionConCambioPropietario/v1"
              schemaLocation="../Schemas/Legacy/EE_CC_ConsultaSegregacionConCambioPropietario.xsd"/>
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/ee/cambioLinderosPredios/registrarSegregacionCambioLinderosCatastro/v1"
              schemaLocation="../Schemas/EE_CC_RegistrarSegregacionCambioLinderosCatastro.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="ConsultaSegregacionSinCambioPropietario_Request">
    <wsdl:part name="entrada" element="bachue2:entradaConsultaSegregacionSinCambioPropietario"/>
  </wsdl:message>
  <wsdl:message name="ConsultaSegregacionSinCambioPropietario_Response">
    <wsdl:part name="salida" element="bachue2:salidaConsultaSegregacionSinCambioPropietario"/>
  </wsdl:message>
  <wsdl:message name="ConsultaSegregacionConCambioPropietario_Request">
    <wsdl:part name="entrada" element="bachue3:entradaConsultaSegregacionConCambioPropietario"/>
  </wsdl:message>
  <wsdl:message name="ConsultaSegregacionConCambioPropietario_Response">
    <wsdl:part name="salida" element="bachue3:salidaConsultaSegregacionConCambioPropietario"/>
  </wsdl:message>
  <wsdl:message name="RegistrarSegregacionCambioLinderosCatastro_Request">
    <wsdl:part name="entrada" element="bachue4:entradaRegistrarSegregacionCambioLinderosCatastro"/>
  </wsdl:message>
  <wsdl:message name="RegistrarSegregacionCambioLinderosCatastro_Response">
    <wsdl:part name="salida" element="bachue4:salidaRegistrarSegregacionCambioLinderosCatastro"/>
  </wsdl:message>	  
  <wsdl:portType name="SBB_EE_CambioLinderosPredios">
    <wsdl:operation name="ConsultaSegregacionSinCambioPropietario">
      <wsdl:input message="bachue:ConsultaSegregacionSinCambioPropietario_Request"/>
      <wsdl:output message="bachue:ConsultaSegregacionSinCambioPropietario_Response"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultaSegregacionConCambioPropietario">
      <wsdl:input message="bachue:ConsultaSegregacionConCambioPropietario_Request"/>
      <wsdl:output message="bachue:ConsultaSegregacionConCambioPropietario_Response"/>
    </wsdl:operation>
	<wsdl:operation name="RegistrarSegregacionCambioLinderosCatastro">
      <wsdl:input message="bachue:RegistrarSegregacionCambioLinderosCatastro_Request"/>
      <wsdl:output message="bachue:RegistrarSegregacionCambioLinderosCatastro_Response"/>
    </wsdl:operation>				 
  </wsdl:portType>
  <wsdl:binding name="SBB_EE_CambioLinderosPredios" type="bachue:SBB_EE_CambioLinderosPredios">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConsultaSegregacionSinCambioPropietario">
      <soap12:operation style="document"
                        soapAction="https://www.supernotariado.gov.co/schemas/bachue/ee/cambioLinderosPredios/consultaSegregacionSinCambioPropietario/v1"/>
      <wsdl:input>
        <soap12:body use="literal" parts="entrada"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="salida"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaSegregacionConCambioPropietario">
      <soap12:operation style="document"
                        soapAction="https://www.supernotariado.gov.co/schemas/bachue/ee/cambioLinderosPredios/consultaSegregacionConCambioPropietario/v1"/>
      <wsdl:input>
        <soap12:body use="literal" parts="entrada"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="salida"/>
      </wsdl:output>
    </wsdl:operation>
	<wsdl:operation name="RegistrarSegregacionCambioLinderosCatastro">
      <soap12:operation style="document"
                        soapAction="https://www.supernotariado.gov.co/schemas/bachue/ee/cambioLinderosPredios/registrarSegregacionCambioLinderosCatastro/v1"/>
      <wsdl:input>
        <soap12:body use="literal" parts="entrada"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="salida"/>
      </wsdl:output>
    </wsdl:operation>				 
  </wsdl:binding>
  <wsdl:service name="SBB_EE_CambioLinderosPredios">
    <wsdl:port name="SBB_EE_CambioLinderosPrediosPort" binding="bachue:SBB_EE_CambioLinderosPredios">
      <soap12:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>