Proyectos/bus/ConsumidosInternamente/OperacionesFinancieras/Resources/WSDLs/SBB_CI_OperacionesFinancieras.wsdl

<wsdl:definitions targetNamespace="https://www.supernotariado.gov.co/services/bachue/ci/operacionesfinancieras/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/ci/operacionesfinancieras/v2" xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/ci/operacionesfinancieras/registrarliquidacion/v2" xmlns:bachue2="https://www.supernotariado.gov.co/schemas/bachue/ci/operacionesfinancieras/registraranulacion/v2" xmlns:bachue3="https://www.supernotariado.gov.co/schemas/bachue/ci/operacionesfinancieras/registrarrecibocaja/v2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="https://www.supernotariado.gov.co/schemas/bachue/ci/operacionesfinancieras/registrarliquidacion/v2" schemaLocation="../Schemas/CI_OF_RegistrarLiquidacion.xsd"/>
			<import namespace="https://www.supernotariado.gov.co/schemas/bachue/ci/operacionesfinancieras/registraranulacion/v2" schemaLocation="../Schemas/CI_OF_RegistrarAnulacion.xsd"/>
			<import namespace="https://www.supernotariado.gov.co/schemas/bachue/ci/operacionesfinancieras/registrarrecibocaja/v2" schemaLocation="../Schemas/CI_OF_RegistrarReciboCaja.xsd"/>
		</schema>
	</wsdl:types>

	<wsdl:message name="RegistrarLiquidacion_Request">
		<wsdl:part name="entrada" element="bachue1:entradaRegistrarLiquidacion"/>
	</wsdl:message>
	<wsdl:message name="RegistrarLiquidacion_Response">
		<wsdl:part name="salida" element="bachue1:salidaRegistrarLiquidacion"/>
	</wsdl:message>
	<wsdl:message name="RegistrarAnulacion_Request">
		<wsdl:part name="entrada" element="bachue2:entradaRegistrarAnulacion"/>
	</wsdl:message>
	<wsdl:message name="RegistrarAnulacion_Response">
		<wsdl:part name="salida" element="bachue2:salidaRegistrarAnulacion"/>
	</wsdl:message>
	<wsdl:message name="RegistrarReciboCaja_Request">
		<wsdl:part name="entrada" element="bachue3:entradaRegistrarReciboCaja"/>
	</wsdl:message>
	<wsdl:message name="RegistrarReciboCaja_Response">
		<wsdl:part name="salida" element="bachue3:salidaRegistrarReciboCaja"/>
	</wsdl:message>


	<wsdl:portType name="SBB_CI_OperacionesFinancieras">
		<wsdl:operation name="RegistrarLiquidacion">
			<wsdl:input message="bachue:RegistrarLiquidacion_Request"/>
			<wsdl:output message="bachue:RegistrarLiquidacion_Response"/>
		</wsdl:operation>
		<wsdl:operation name="RegistrarAnulacion">
			<wsdl:input message="bachue:RegistrarAnulacion_Request"/>
			<wsdl:output message="bachue:RegistrarAnulacion_Response"/>
		</wsdl:operation>
		<wsdl:operation name="RegistrarReciboCaja">
			<wsdl:input message="bachue:RegistrarReciboCaja_Request"/>
			<wsdl:output message="bachue:RegistrarReciboCaja_Response"/>
		</wsdl:operation>
	</wsdl:portType>
 <wsdl:binding name="SBB_CI_OperacionesFinancierasSOAP12Binding" type="bachue:SBB_CI_OperacionesFinancieras">
  <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="RegistrarLiquidacion">
   <soap12:operation style="document" soapAction="https://www.supernotariado.gov.co/services/bachue/ci/operacionesfinancieras/v2/RegistrarLiquidacion"/>
   <wsdl:input>
    <soap12:body use="literal" parts="entrada"/>
   </wsdl:input>
   <wsdl:output>
    <soap12:body use="literal" parts="salida"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="RegistrarAnulacion">
   <soap12:operation style="document" soapAction="https://www.supernotariado.gov.co/services/bachue/ci/operacionesfinancieras/v2/RegistrarAnulacion"/>
   <wsdl:input>
    <soap12:body use="literal" parts="entrada"/>
   </wsdl:input>
   <wsdl:output>
    <soap12:body use="literal" parts="salida"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="RegistrarReciboCaja">
   <soap12:operation style="document" soapAction="https://www.supernotariado.gov.co/services/bachue/ci/operacionesfinancieras/v2/RegistrarReciboCaja"/>
   <wsdl:input>
    <soap12:body use="literal" parts="entrada"/>
   </wsdl:input>
   <wsdl:output>
    <soap12:body use="literal" parts="salida"/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:service name="SBB_CI_OperacionesFinancieras">
  <wsdl:port name="SBB_CI_OperacionesFinancierasPort" binding="bachue:SBB_CI_OperacionesFinancierasSOAP12Binding">
   <soap12:address location="http://www.example.com"/>
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>