Proyectos/bus/ExpuestosExternamente/GeneracionSolicitud/Resources/WSDLs/SBB_EE_GeneracionSolicitud.wsdl

<wsdl:definitions targetNamespace="https://www.supernotariado.gov.co/services/bachue/ee/generacionsolicitud/v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/ee/generacionsolicitud/v1"
                  xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/ee/generacionsolicitud/generarsolicitud/v1"
                  xmlns:bachue2="https://www.supernotariado.gov.co/schemas/bachue/ee/generacionsolicitud/consultarestadosolicitud/v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/ee/generacionsolicitud/generarsolicitud/v1"
              schemaLocation="../Schemas/EE_GS_GenerarSolicitud.xsd"/>
      <import namespace="https://www.supernotariado.gov.co/schemas/bachue/ee/generacionsolicitud/consultarestadosolicitud/v1"
              schemaLocation="../Schemas/EE_GS_ConsultarEstadoSolicitud.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="GenerarSolicitud_Request">
    <wsdl:part name="entrada" element="bachue1:entradaGenerarSolicitud"/>
  </wsdl:message>
  <wsdl:message name="GenerarSolicitud_Response">
    <wsdl:part name="salida" element="bachue1:salidaGenerarSolicitud"/>
  </wsdl:message>
  <wsdl:message name="ConsultarEstadoSolicitud_Request">
    <wsdl:part name="entrada" element="bachue2:entradaConsultarEstadoSolicitud"/>
  </wsdl:message>
  <wsdl:message name="ConsultarEstadoSolicitud_Response">
    <wsdl:part name="salida" element="bachue2:salidaConsultarEstadoSolicitud"/>
  </wsdl:message>
  <wsdl:portType name="SBB_EE_GeneracionSolicitud">
    <wsdl:operation name="GenerarSolicitud">
      <wsdl:input message="bachue:GenerarSolicitud_Request"/>
      <wsdl:output message="bachue:GenerarSolicitud_Response"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstadoSolicitud">
      <wsdl:input message="bachue:ConsultarEstadoSolicitud_Request"/>
      <wsdl:output message="bachue:ConsultarEstadoSolicitud_Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SBB_EE_GeneracionSolicitudSOAP12Binding" type="bachue:SBB_EE_GeneracionSolicitud">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GenerarSolicitud">
      <soap12:operation style="document"
                        soapAction="https://www.supernotariado.gov.co/services/bachue/ee/generacionsolicitud/v1/GenerarSolicitud"/>
      <wsdl:input>
        <soap12:body use="literal" parts="entrada"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="salida"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstadoSolicitud">
      <soap12:operation style="document"
                        soapAction="https://www.supernotariado.gov.co/services/bachue/ee/generacionsolicitud/v1/ConsultarEstadoSolicitud"/>
      <wsdl:input>
        <soap12:body use="literal" parts="entrada"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="salida"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SBB_EE_GeneracionSolicitud">
    <wsdl:port name="SBB_EE_GeneracionSolicitudPort" binding="bachue:SBB_EE_GeneracionSolicitudSOAP12Binding">
      <soap12:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>