Proyectos/bus/ExpuestosFinancieras/OperacionesFinancieras/Resources/WSDLs/SBB_EF_OperacionesFinancieras.wsdl

<wsdl:definitions targetNamespace="https://www.supernotariado.gov.co/services/bachue/ef/operacionesfinancieras/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/ef/operacionesfinancieras/v2" xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/ef/operacionesfinancieras/consultarestadoliquidacion/v2" xmlns:bachue2="https://www.supernotariado.gov.co/schemas/bachue/ef/operacionesfinancieras/consultartarifaservicio/v2" xmlns:bachue3="https://www.supernotariado.gov.co/schemas/bachue/ef/operacionesfinancieras/generarliquidacion/v2" xmlns:bachue4="https://www.supernotariado.gov.co/schemas/bachue/ef/operacionesfinancieras/notificarpago/v2" xmlns:bachue5="https://www.supernotariado.gov.co/schemas/bachue/ef/operacionesfinancieras/obtenerpdfliquidacion/v2" xmlns:bachue6="https://www.supernotariado.gov.co/schemas/bachue/ef/operacionesfinancieras/actualizardatossolicitante/v2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="https://www.supernotariado.gov.co/schemas/bachue/ef/operacionesfinancieras/consultarestadoliquidacion/v2" schemaLocation="../Schemas/EF_OF_ConsultarEstadoLiquidacion.xsd"/>
			<import namespace="https://www.supernotariado.gov.co/schemas/bachue/ef/operacionesfinancieras/consultartarifaservicio/v2" schemaLocation="../Schemas/EF_OF_ConsultarTarifaServicio.xsd"/>
			<import namespace="https://www.supernotariado.gov.co/schemas/bachue/ef/operacionesfinancieras/generarliquidacion/v2" schemaLocation="../Schemas/EF_OF_GenerarLiquidacion.xsd"/>
			<import namespace="https://www.supernotariado.gov.co/schemas/bachue/ef/operacionesfinancieras/notificarpago/v2" schemaLocation="../Schemas/EF_OF_NotificarPago.xsd"/>
			<import namespace="https://www.supernotariado.gov.co/schemas/bachue/ef/operacionesfinancieras/obtenerpdfliquidacion/v2" schemaLocation="../Schemas/EF_OF_ObtenerPDFLiquidacion.xsd"/>
			<import namespace="https://www.supernotariado.gov.co/schemas/bachue/ef/operacionesfinancieras/actualizardatossolicitante/v2" schemaLocation="../Schemas/EF_OF_ActualizarDatosSolicitante.xsd"/>
		</schema>
	</wsdl:types>

	<wsdl:message name="ConsultarEstadoLiquidacion_Request">
		<wsdl:part name="entrada" element="bachue1:entradaConsultarEstadoLiquidacion"/>
	</wsdl:message>
	<wsdl:message name="ConsultarEstadoLiquidacion_Response">
		<wsdl:part name="salida" element="bachue1:salidaConsultarEstadoLiquidacion"/>
	</wsdl:message>
	<wsdl:message name="ConsultarTarifaServicio_Request">
		<wsdl:part name="entrada" element="bachue2:entradaConsultarTarifaServicio"/>
	</wsdl:message>
	<wsdl:message name="ConsultarTarifaServicio_Response">
		<wsdl:part name="salida" element="bachue2:salidaConsultarTarifaServicio"/>
	</wsdl:message>
	<wsdl:message name="GenerarLiquidacion_Request">
		<wsdl:part name="entrada" element="bachue3:entradaGenerarLiquidacion"/>
	</wsdl:message>
	<wsdl:message name="GenerarLiquidacion_Response">
		<wsdl:part name="salida" element="bachue3:salidaGenerarLiquidacion"/>
	</wsdl:message>
	<wsdl:message name="NotificarPago_Request">
		<wsdl:part name="entrada" element="bachue4:entradaNotificarPago"/>
	</wsdl:message>
	<wsdl:message name="NotificarPago_Response">
		<wsdl:part name="salida" element="bachue4:salidaNotificarPago"/>
	</wsdl:message>
	<wsdl:message name="ObtenerPDFLiquidacion_Request">
		<wsdl:part name="entrada" element="bachue5:entradaObtenerPDFLiquidacion"/>
	</wsdl:message>
	<wsdl:message name="ObtenerPDFLiquidacion_Response">
		<wsdl:part name="salida" element="bachue5:salidaObtenerPDFLiquidacion"/>
	</wsdl:message>
	<wsdl:message name="ActualizarDatosSolicitante_Request">
		<wsdl:part name="entrada" element="bachue6:entradaActualizarDatosSolicitante"/>
	</wsdl:message>
	<wsdl:message name="ActualizarDatosSolicitante_Response">
		<wsdl:part name="salida" element="bachue6:salidaActualizarDatosSolicitante"/>
	</wsdl:message>

	<wsdl:portType name="SBB_EF_OperacionesFinancieras">
		<wsdl:operation name="ConsultarEstadoLiquidacion">
			<wsdl:input message="bachue:ConsultarEstadoLiquidacion_Request"/>
			<wsdl:output message="bachue:ConsultarEstadoLiquidacion_Response"/>
		</wsdl:operation>
		<wsdl:operation name="ConsultarTarifaServicio">
			<wsdl:input message="bachue:ConsultarTarifaServicio_Request"/>
			<wsdl:output message="bachue:ConsultarTarifaServicio_Response"/>
		</wsdl:operation>
		<wsdl:operation name="GenerarLiquidacion">
			<wsdl:input message="bachue:GenerarLiquidacion_Request"/>
			<wsdl:output message="bachue:GenerarLiquidacion_Response"/>
		</wsdl:operation>
		<wsdl:operation name="NotificarPago">
			<wsdl:input message="bachue:NotificarPago_Request"/>
			<wsdl:output message="bachue:NotificarPago_Response"/>
		</wsdl:operation>
		<wsdl:operation name="ObtenerPDFLiquidacion">
			<wsdl:input message="bachue:ObtenerPDFLiquidacion_Request"/>
			<wsdl:output message="bachue:ObtenerPDFLiquidacion_Response"/>
		</wsdl:operation>
		<wsdl:operation name="ActualizarDatosSolicitante">
			<wsdl:input message="bachue:ActualizarDatosSolicitante_Request"/>
			<wsdl:output message="bachue:ActualizarDatosSolicitante_Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SBB_EF_OperacionesFinancierasSOAP12Binding" type="bachue:SBB_EF_OperacionesFinancieras">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ConsultarEstadoLiquidacion">
			<soap12:operation style="document" soapAction="https://www.supernotariado.gov.co/services/bachue/ef/operacionesfinancieras/v2/ConsultarEstadoLiquidacion"/>
			<wsdl:input>
				<soap12:body use="literal" parts="entrada"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" parts="salida"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarTarifaServicio">
			<soap12:operation style="document" soapAction="https://www.supernotariado.gov.co/services/bachue/ef/operacionesfinancieras/v2/ConsultarTarifaServicio"/>
			<wsdl:input>
				<soap12:body use="literal" parts="entrada"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" parts="salida"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GenerarLiquidacion">
			<soap12:operation style="document" soapAction="https://www.supernotariado.gov.co/services/bachue/ef/operacionesfinancieras/v2/GenerarLiquidacion"/>
			<wsdl:input>
				<soap12:body use="literal" parts="entrada"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" parts="salida"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="NotificarPago">
			<soap12:operation style="document" soapAction="https://www.supernotariado.gov.co/services/bachue/ef/operacionesfinancieras/v2/NotificarPago"/>
			<wsdl:input>
				<soap12:body use="literal" parts="entrada"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" parts="salida"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ObtenerPDFLiquidacion">
			<soap12:operation style="document" soapAction="https://www.supernotariado.gov.co/services/bachue/ef/operacionesfinancieras/v2/ObtenerPDFLiquidacion"/>
			<wsdl:input>
				<soap12:body use="literal" parts="entrada"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" parts="salida"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ActualizarDatosSolicitante">
			<soap12:operation style="document" soapAction="https://www.supernotariado.gov.co/services/bachue/ef/operacionesfinancieras/v2/ActualizarDatosSolicitante"/>
			<wsdl:input>
				<soap12:body use="literal" parts="entrada"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" parts="salida"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SBB_EF_OperacionesFinancieras">
		<wsdl:port name="SBB_EF_OperacionesFinancierasPort" binding="bachue:SBB_EF_OperacionesFinancierasSOAP12Binding">
			<soap12:address location="http://www.example.com"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>