Proyectos/bus/ConsumidosInternamente/Dispositivos/Resources/WSDLs/SUT_CI_Dispositivos.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/" name="BiometriaController">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/"
                  schemaLocation="../Schemas/Legacy/BiometriaController.xsd"/>
    </xsd:schema>
  </types>
  <message name="obtenerConstantes">
    <part name="parameters" element="tns:obtenerConstantes"/>
  </message>
  <message name="obtenerConstantesResponse">
    <part name="parameters" element="tns:obtenerConstantesResponse"/>
  </message>
  <message name="borrarHuellas">
    <part name="parameters" element="tns:borrarHuellas"/>
  </message>
  <message name="borrarHuellasResponse">
    <part name="parameters" element="tns:borrarHuellasResponse"/>
  </message>
  <message name="enrolarUsuario">
    <part name="parameters" element="tns:enrolarUsuario"/>
  </message>
  <message name="enrolarUsuarioResponse">
    <part name="parameters" element="tns:enrolarUsuarioResponse"/>
  </message>
  <message name="registrarEvento">
    <part name="parameters" element="tns:registrarEvento"/>
  </message>
  <message name="registrarEventoResponse">
    <part name="parameters" element="tns:registrarEventoResponse"/>
  </message>
  <message name="consultarSesion">
    <part name="parameters" element="tns:consultarSesion"/>
  </message>
  <message name="consultarSesionResponse">
    <part name="parameters" element="tns:consultarSesionResponse"/>
  </message>
  <message name="obtenerTipoSegundoFactor">
    <part name="parameters" element="tns:obtenerTipoSegundoFactor"/>
  </message>
  <message name="obtenerTipoSegundoFactorResponse">
    <part name="parameters" element="tns:obtenerTipoSegundoFactorResponse"/>
  </message>
  <message name="crearUsuario">
    <part name="parameters" element="tns:crearUsuario"/>
  </message>
  <message name="crearUsuarioResponse">
    <part name="parameters" element="tns:crearUsuarioResponse"/>
  </message>
  <message name="actualizarClave">
    <part name="parameters" element="tns:actualizarClave"/>
  </message>
  <message name="actualizarClaveResponse">
    <part name="parameters" element="tns:actualizarClaveResponse"/>
  </message>
  <message name="obtenerUsuario">
    <part name="parameters" element="tns:obtenerUsuario"/>
  </message>
  <message name="obtenerUsuarioResponse">
    <part name="parameters" element="tns:obtenerUsuarioResponse"/>
  </message>
  <message name="verificarUsuario">
    <part name="parameters" element="tns:verificarUsuario"/>
  </message>
  <message name="verificarUsuarioResponse">
    <part name="parameters" element="tns:verificarUsuarioResponse"/>
  </message>
  <message name="consultarEstadisticas">
    <part name="parameters" element="tns:consultarEstadisticas"/>
  </message>
  <message name="consultarEstadisticasResponse">
    <part name="parameters" element="tns:consultarEstadisticasResponse"/>
  </message>
  <message name="verificarClave">
    <part name="parameters" element="tns:verificarClave"/>
  </message>
  <message name="verificarClaveResponse">
    <part name="parameters" element="tns:verificarClaveResponse"/>
  </message>
  <message name="agregarFirma">
    <part name="parameters" element="tns:agregarFirma"/>
  </message>
  <message name="agregarFirmaResponse">
    <part name="parameters" element="tns:agregarFirmaResponse"/>
  </message>
  <message name="obtenerFirma">
    <part name="parameters" element="tns:obtenerFirma"/>
  </message>
  <message name="obtenerFirmaResponse">
    <part name="parameters" element="tns:obtenerFirmaResponse"/>
  </message>
  <message name="eliminarFirma">
    <part name="parameters" element="tns:eliminarFirma"/>
  </message>
  <message name="eliminarFirmaResponse">
    <part name="parameters" element="tns:eliminarFirmaResponse"/>
  </message>
  <portType name="BiometriaWS">
    <operation name="obtenerConstantes">
      <input wsam:Action="obtenerConstantes" message="tns:obtenerConstantes"/>
      <output wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/obtenerConstantesResponse"
              message="tns:obtenerConstantesResponse"/>
    </operation>
    <operation name="borrarHuellas">
      <input wsam:Action="borrarHuellas" message="tns:borrarHuellas"/>
      <output wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/borrarHuellasResponse"
              message="tns:borrarHuellasResponse"/>
    </operation>
    <operation name="enrolarUsuario">
      <input wsam:Action="enrolarUsuario" message="tns:enrolarUsuario"/>
      <output wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/enrolarUsuarioResponse"
              message="tns:enrolarUsuarioResponse"/>
    </operation>
    <operation name="registrarEvento">
      <input wsam:Action="registrarEvento" message="tns:registrarEvento"/>
      <output wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/registrarEventoResponse"
              message="tns:registrarEventoResponse"/>
    </operation>
    <operation name="consultarSesion">
      <input wsam:Action="consultarSesion" message="tns:consultarSesion"/>
      <output wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/consultarSesionResponse"
              message="tns:consultarSesionResponse"/>
    </operation>
    <operation name="obtenerTipoSegundoFactor">
      <input wsam:Action="obtenerTipoSegundoFactor" message="tns:obtenerTipoSegundoFactor"/>
      <output wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/obtenerTipoSegundoFactorResponse"
              message="tns:obtenerTipoSegundoFactorResponse"/>
    </operation>
    <operation name="crearUsuario">
      <input wsam:Action="crearUsuario" message="tns:crearUsuario"/>
      <output wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/crearUsuarioResponse"
              message="tns:crearUsuarioResponse"/>
    </operation>
    <operation name="actualizarClave">
      <input wsam:Action="actualizarClave" message="tns:actualizarClave"/>
      <output wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/actualizarClaveResponse"
              message="tns:actualizarClaveResponse"/>
    </operation>
    <operation name="obtenerUsuario">
      <input wsam:Action="obtenerUsuario" message="tns:obtenerUsuario"/>
      <output wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/obtenerUsuarioResponse"
              message="tns:obtenerUsuarioResponse"/>
    </operation>
    <operation name="verificarUsuario">
      <input wsam:Action="verificarUsuario" message="tns:verificarUsuario"/>
      <output wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/verificarUsuarioResponse"
              message="tns:verificarUsuarioResponse"/>
    </operation>
    <operation name="consultarEstadisticas">
      <input wsam:Action="consultarEstadisticas" message="tns:consultarEstadisticas"/>
      <output wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/consultarEstadisticasResponse"
              message="tns:consultarEstadisticasResponse"/>
    </operation>
    <operation name="verificarClave">
      <input wsam:Action="verificarClave" message="tns:verificarClave"/>
      <output wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/verificarClaveResponse"
              message="tns:verificarClaveResponse"/>
    </operation>
    <operation name="agregarFirma">
      <input wsam:Action="agregarFirma" message="tns:agregarFirma"/>
      <output wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/agregarFirmaResponse"
              message="tns:agregarFirmaResponse"/>
    </operation>
    <operation name="obtenerFirma">
      <input wsam:Action="obtenerFirma" message="tns:obtenerFirma"/>
      <output wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/obtenerFirmaResponse"
              message="tns:obtenerFirmaResponse"/>
    </operation>
    <operation name="eliminarFirma">
      <input wsam:Action="eliminarFirma" message="tns:eliminarFirma"/>
      <output wsam:Action="http://ws.servicios.corebachue.bachue.supernotariado.gov.co/BiometriaWS/eliminarFirmaResponse"
              message="tns:eliminarFirmaResponse"/>
    </operation>
  </portType>
  <binding name="BiometriaWSPortBinding" type="tns:BiometriaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="obtenerConstantes">
      <soap:operation soapAction="obtenerConstantes"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="borrarHuellas">
      <soap:operation soapAction="borrarHuellas"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="enrolarUsuario">
      <soap:operation soapAction="enrolarUsuario"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="registrarEvento">
      <soap:operation soapAction="registrarEvento"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarSesion">
      <soap:operation soapAction="consultarSesion"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerTipoSegundoFactor">
      <soap:operation soapAction="obtenerTipoSegundoFactor"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="crearUsuario">
      <soap:operation soapAction="crearUsuario"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="actualizarClave">
      <soap:operation soapAction="actualizarClave"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerUsuario">
      <soap:operation soapAction="obtenerUsuario"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="verificarUsuario">
      <soap:operation soapAction="verificarUsuario"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarEstadisticas">
      <soap:operation soapAction="consultarEstadisticas"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="verificarClave">
      <soap:operation soapAction="verificarClave"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="agregarFirma">
      <soap:operation soapAction="agregarFirma"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerFirma">
      <soap:operation soapAction="obtenerFirma"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eliminarFirma">
      <soap:operation soapAction="eliminarFirma"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BiometriaController">
    <port name="BiometriaWSPort" binding="tns:BiometriaWSPortBinding">
      <soap:address location="http://10.0.0.9:20187/BiometriaWS/BiometriaController"/>
    </port>
  </service>
</definitions>