Proyectos/bus/ExpuestosExternamente/CertificadoTradicionPDF/Resources/WSDLs/EnviarPDFCertificadoLibertad.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b02  svn-revision#14033. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b02  svn-revision#14033. --><definitions targetNamespace="http://enviarPDFCertificadoLibertad.ubi.com.co/" name="EnviarPDFCertificadoLibertad" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://enviarPDFCertificadoLibertad.ubi.com.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://enviarPDFCertificadoLibertad.ubi.com.co/" schemaLocation="../Schemas/Legacy/EnviarPDFCertificadoLibertad.xsd_1.xsd"/>
    </xsd:schema>
  </types>
  <message name="obtenerPDF">
    <part name="parameters" element="tns:obtenerPDF"/>
  </message>
  <message name="obtenerPDFResponse">
    <part name="parameters" element="tns:obtenerPDFResponse"/>
  </message>
  <message name="consultarPDFPorPin">
    <part name="parameters" element="tns:consultarPDFPorPin"/>
  </message>
  <message name="consultarPDFPorPinResponse">
    <part name="parameters" element="tns:consultarPDFPorPinResponse"/>
  </message>
  <message name="ejecutarCopiaArchivosCTL">
    <part name="parameters" element="tns:ejecutarCopiaArchivosCTL"/>
  </message>
  <message name="ejecutarCopiaArchivosCTLResponse">
    <part name="parameters" element="tns:ejecutarCopiaArchivosCTLResponse"/>
  </message>
  <portType name="EnviarPDFCertificadoLibertad">
    <operation name="obtenerPDF">
      <input wsam:Action="http://enviarPDFCertificadoLibertad.ubi.com.co/EnviarPDFCertificadoLibertad/obtenerPDFRequest" message="tns:obtenerPDF"/>
      <output wsam:Action="http://enviarPDFCertificadoLibertad.ubi.com.co/EnviarPDFCertificadoLibertad/obtenerPDFResponse" message="tns:obtenerPDFResponse"/>
    </operation>
    <operation name="consultarPDFPorPin">
      <input wsam:Action="http://enviarPDFCertificadoLibertad.ubi.com.co/EnviarPDFCertificadoLibertad/consultarPDFPorPinRequest" message="tns:consultarPDFPorPin"/>
      <output wsam:Action="http://enviarPDFCertificadoLibertad.ubi.com.co/EnviarPDFCertificadoLibertad/consultarPDFPorPinResponse" message="tns:consultarPDFPorPinResponse"/>
    </operation>
    <operation name="ejecutarCopiaArchivosCTL">
      <input wsam:Action="http://enviarPDFCertificadoLibertad.ubi.com.co/EnviarPDFCertificadoLibertad/ejecutarCopiaArchivosCTLRequest" message="tns:ejecutarCopiaArchivosCTL"/>
      <output wsam:Action="http://enviarPDFCertificadoLibertad.ubi.com.co/EnviarPDFCertificadoLibertad/ejecutarCopiaArchivosCTLResponse" message="tns:ejecutarCopiaArchivosCTLResponse"/>
    </operation>
  </portType>
  <binding name="EnviarPDFCertificadoLibertadPortBinding" type="tns:EnviarPDFCertificadoLibertad">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="obtenerPDF">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarPDFPorPin">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ejecutarCopiaArchivosCTL">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EnviarPDFCertificadoLibertad">
    <port name="EnviarPDFCertificadoLibertadPort" binding="tns:EnviarPDFCertificadoLibertadPortBinding">
      <soap:address location="http://192.168.202.20:7010/ServicioEnviarPDFCertificadoLibertad/EnviarPDFCertificadoLibertad"/>
    </port>
  </service>
</definitions>