Proyectos/bus/ExpuestosExternamente/CertificadoTradicion/Resources/Schemas/EE_CT_consultarCT.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema id="DatosCertificadoTradicion"
	targetNamespace="https://www.supernotariado.gov.co/services/bachue/cb/certificadotradicion/consultarct/v1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/cb/certificadotradicion/consultarct/v1"
	elementFormDefault="qualified" version="1.3">
	<xsd:complexType name="tipoEntradaConsultaCT">
		<xsd:annotation>
			<xsd:documentation xml:lang="es">El esquema define los
				datos de entrada para la operacion Consulta de Certificado de
				Tradición
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="1" maxOccurs="1">
			<xsd:element name="tipoIdentificacionPredio"
				minOccurs="1" maxOccurs="1" nillable="false">
				<xsd:annotation>
					<xsd:documentation>Corresponde al tipo de identificacion por el
						cual podemos buscar un predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="matricula">
							<xsd:annotation>
								<xsd:documentation>En el campo numIdentificacionPredio deberá
									venir los
									tres primeros caracteres del cículo y luego si el
									número de
									matrícula
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="numeroPredial">
							<xsd:annotation>
								<xsd:documentation>Corresponde al CHIP, si es Bogotá o a la
									referencia o cédula catastral del predio.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="numeroPredialAnterior">
							<xsd:annotation>
								<xsd:documentation>Corresponde al anterior numero de
									Identifiación Predial.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="NUPRE">
							<xsd:annotation>
								<xsd:documentation>Número Único Predial
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numIdentificacionPredio" minOccurs="1"
				maxOccurs="1" nillable="false">
				<xsd:annotation>
					<xsd:documentation>Al seleccionar un tipo de Identificación predio,
						se espera en este campo el número correspondiente; para el caso
						de
						matricula, el sistema toma los tres primeros caracteres como
						Código Circulo Registral y los siguientes como el Número de
						Matrícula Inmobiliaria.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="64" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="convenio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nombre de convenio que tendría la SNR con la
						Entidad que consume el servicio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="256" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoSalidaConsultaCT">
		<xsd:annotation>
			<xsd:documentation xml:lang="es">El esquema define los
				datos de salida para la operacion Consulta de Certificado de
				Tradición
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="numMatriculaInmobiliaria">
				<xsd:annotation>
					<xsd:documentation>corresponde al número de matrícula que
						identifica al predio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codCirculoRegistral">
				<xsd:annotation>
					<xsd:documentation>corresponde a la ORIP donde se ha registrado el
						predio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomCirculoRegistral">
				<xsd:annotation>
					<xsd:documentation>Nombre de la ORIP al que corresponde el predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="400" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NUPRE">
				<xsd:annotation>
					<xsd:documentation>Número Único Predial
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="64"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="estadoNUPRE">
				<xsd:annotation>
					<xsd:documentation>se espera alguno de los siguientes estados:
						Gestor,
						Registro, Autoridad catastral y Temporal.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numPredial">
				<xsd:annotation>
					<xsd:documentation>Código Catastral Actual</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numPredialAnterior">
				<xsd:annotation>
					<xsd:documentation>Código Catastral Anterior</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="direccionPredio">
				<xsd:annotation>
					<xsd:documentation>Corresponde a la dirección del predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codDepartamento">
				<xsd:annotation>
					<xsd:documentation>corresponde al código del departamento según
						DANE donde se ha registrado el predio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomDepartamento">
				<xsd:annotation>
					<xsd:documentation>corresponde al nombre del departamento donde se
						ubica el predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codMunicipio">
				<xsd:annotation>
					<xsd:documentation>corresponde al código del municipio según DANE
						donde se ha registrado el predio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomMunicipio">
				<xsd:annotation>
					<xsd:documentation>corresponde al nombre del municipio donde se
						ubica el predio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomVereda">
				<xsd:annotation>
					<xsd:documentation>corresponde a la vereda donde se ubica el
						predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomBarrio">
				<xsd:annotation>
					<xsd:documentation>corresponde al barrio donde se ubica el predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fechaAperturaFolio">
				<xsd:annotation>
					<xsd:documentation>Fecha de apertura</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime" />
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fechaInstrumento">
				<xsd:annotation>
					<xsd:documentation>Fecha de apertura</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime" />
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="radicacion">
				<xsd:annotation>
					<xsd:documentation>Numero de radicación de la apertura
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomTipoDocumentoPublico">
				<xsd:annotation>
					<xsd:documentation>Nombre del Tipo de documento público
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NIR">
				<xsd:annotation>
					<xsd:documentation>Número de Identificación Registral de la
						apertura
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="areaInmueble">
				<xsd:annotation>
					<xsd:documentation>Area del Inmueble es la superficie que
						generalmente se ve reflejada en el registro público de la
						propiedad. Se dará en Metros cuadrados.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:long"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="areaConstruida">
				<xsd:annotation>
					<xsd:documentation>Area es el área construida del inmueble, es la
						superficie
						total del predio, incluye elementos adicionales como
						ductos,
						columnas y falseados. Se dará en Metros cuadrados.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:long"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="areaPrivada">
				<xsd:annotation>
					<xsd:documentation>Áea privada del inmueble: Se refiere a toda la
						superficie que se puede pisar. Incluye todo el espacio interior
						del predio. Se dará en Metros Cuadrados.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:long"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="estadoFolio">
				<xsd:annotation>
					<xsd:documentation>Estado Temporalidad Folio, los valores que se
						esperan son ACTIVO, CERRADO
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="tipoPredio">
				<xsd:annotation>
					<xsd:documentation>No obligatorio, de cara al CTL lo dejan "SIN
						INFORMACION" cuando no hay dato. Ejemplo: 50C-1248183
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="linderos">
				<xsd:annotation>
					<xsd:documentation>Corresponde a los linderos del predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="propietarios" minOccurs="1"
				maxOccurs="unbounded" type="bachue:tipoPropietario" />
			<xsd:element name="complementaciones">
				<xsd:annotation>
					<xsd:documentation>Corresponde a las complementaciones del predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="salvedades" minOccurs="1"
				maxOccurs="unbounded" type="bachue:tipoSalvedad" />
			<xsd:element name="direccionesPredioAnteriores"
				minOccurs="1" maxOccurs="unbounded"
				type="bachue:tipoDireccionPredioAnterior" />
			<xsd:element name="matriculasMatriz" minOccurs="1"
				maxOccurs="unbounded" type="bachue:tipoMatriculaMatriz" />
			<xsd:element name="matriculasDerivadas" minOccurs="1"
				maxOccurs="unbounded" type="bachue:tipoMatriculaDerivada" />
			<xsd:element name="medidasCautelares" minOccurs="1"
				maxOccurs="unbounded" type="bachue:tipoMedidaCautelar" />
			<xsd:element name="tramitesEnCurso" minOccurs="1"
				maxOccurs="unbounded" type="bachue:tipoTramiteEnCurso" />
			<xsd:element name="codMensaje">
				<xsd:annotation>
					<xsd:documentation>200 cuando no hay error, 4* por errores de
						validación de campos de entrada o validación de negocio y 500
						cuando existen errores de sistema
					</xsd:documentation>
				</xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:integer"/>
    </xsd:simpleType>
   </xsd:element>
			<xsd:element name="descripcionMensaje">
				<xsd:annotation>
					<xsd:documentation>Corresponde a al mensaje de error para los casos
						en qeue la consulta no fue exitosa, vacío cuando la consulta es
						exitosa
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numeroConsulta">
				<xsd:annotation>
					<xsd:documentation>Corresponde a una seuencia o id que identifica
						cada consulta.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fechaHoraConsulta">
				<xsd:annotation>
					<xsd:documentation>la fecha y hora en la que hubo una respuesta de
						la consulta.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime" />
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoPropietario">
		<xsd:sequence>
			<xsd:element name="tipoPersona">
				<xsd:annotation>
					<xsd:documentation>Natural o Juridica
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="tipoDocumentoPersona">
				<xsd:annotation>
					<xsd:documentation>Tipos de documento posibles de un propietario
						que sea persona Natural: CC, CE, PA, TI, NUIP
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numDocumentoPersona">
				<xsd:annotation>
					<xsd:documentation>Número de documento del propietario cuando es
						persona natural
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numNIT">
				<xsd:annotation>
					<xsd:documentation>Número Único de Identifiación Tributaria, en
						este caso del propietario
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primerApellido">
				<xsd:annotation>
					<xsd:documentation>primer apellido del propietario
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="segundoApellido">
				<xsd:annotation>
					<xsd:documentation>segundo apellido del propietario
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primerNombre">
				<xsd:annotation>
					<xsd:documentation>primer nombre del propietario
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="segundoNombre">
				<xsd:annotation>
					<xsd:documentation>segundo nombre del propietario
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codGenero">
				<xsd:annotation>
					<xsd:documentation>01 para masculino, 02 para femenino. (Por
						definición SS-GEL)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="razonSocial">
				<xsd:annotation>
					<xsd:documentation>razon social del propietario</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="porcentajeParticipacion">
				<xsd:annotation>
					<xsd:documentation>porcentaje de participación</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoSalvedad">
		<xsd:sequence>
			<xsd:element name="numAnotacion">
				<xsd:annotation>
					<xsd:documentation>Corresponde al número de la anotación de la
						salvedad.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numeroCorreccion">
				<xsd:annotation>
					<xsd:documentation>Corresponde al número de la corrección de la
						salvedad.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NIR">
				<xsd:annotation>
					<xsd:documentation>Corresponde al NIR de la salvedad.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="radicacion">
				<xsd:annotation>
					<xsd:documentation>Corresponde a la radicacion de la salvedad.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fechaSalvedad">
				<xsd:annotation>
					<xsd:documentation>Corresponde a la fecha de la salvedad.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime" />
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="descripcionSalvedad">
				<xsd:annotation>
					<xsd:documentation>descripción de la salvedad
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoDireccionPredioAnterior">
		<xsd:sequence>
			<xsd:element name="direccionPredio">
				<xsd:annotation>
					<xsd:documentation>corresponde a una dirección anterior.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoMatriculaMatriz">
		<xsd:sequence>
			<xsd:element name="numMatriculaInmobiliaria">
				<xsd:annotation>
					<xsd:documentation>corresponde a un número de matrícula de las
						matrículas matriz
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codCirculoRegistral">
				<xsd:annotation>
					<xsd:documentation>Corresponde al círculo donde registró el predio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoMatriculaDerivada">
		<xsd:sequence>
			<xsd:element name="numMatriculaInmobiliaria">
				<xsd:annotation>
					<xsd:documentation>corresponde a un número de matrícula de las
						matrículas derivadas
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codCirculoRegistral">
				<xsd:annotation>
					<xsd:documentation>Corresponde al círculo donde registró el predio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="direccionPredio">
				<xsd:annotation>
					<xsd:documentation>corresponde a la descripción de la matricula
						relacionada
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NIR">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="radicacion">
				<xsd:annotation>
					<xsd:documentation>corresponde a la radicación de la anotación
						sobre la matricula relacionada
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="anotacionRelacionada">
				<xsd:annotation>
					<xsd:documentation>corresponde al número de anotación de la
						matricula relacionada
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoMedidaCautelar">
		<xsd:sequence>
			<xsd:element name="numAnotacion">
				<xsd:annotation>
					<xsd:documentation>numero anotación que corresponde a la medida
						cautelar en el predio consultado
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="anotacionesCanceladas" minOccurs="1"
				maxOccurs="unbounded" type="bachue:tipoAnotacionCancelada" />
			<xsd:element name="comentario">
				<xsd:annotation>
					<xsd:documentation>corresponde al comentario de la anotación de la
						medida cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codTipoDocumentoPublico">
				<xsd:annotation>
					<xsd:documentation>Código del Tipo de documento público
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fechaDocumento">
				<xsd:annotation>
					<xsd:documentation>Fecha de Otorgamiento del documento público.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime" />
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomDocumentoPublico">
				<xsd:annotation>
					<xsd:documentation>Nombre del documento público
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codDominioActoJuridico">
				<xsd:annotation>
					<xsd:documentation>corresponde al código o letra que identifica el
						dominio de la medida cautelar: X, H, C, A, D, E, O, P y V.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomDominioActoJuridico">
				<xsd:annotation>
					<xsd:documentation>corresponde al nombre correspondiente con la
						letra que identifica el dominio de la medida cautelar: MUTACIONES,
						HIPOTECAS, CANCELACIONES, AFECTACIONES, DEMANDAS, EMBARGOS,
						OFERTAS, PATRIMONIOS y VALORIZACIONES
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="oficinaOrigen">
				<xsd:annotation>
					<xsd:documentation>corresponde a la entidad de la anotación de
						medida cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="comentarioEspecificoAnotacion">
				<xsd:annotation>
					<xsd:documentation>corresponde al comentario específico de la
						anotación sobre medida cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DRR">
				<xsd:annotation>
					<xsd:documentation>corresponde a derechos, restricciones y
						responsabilidades sobre el predio.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codNaturalezaJuridicaFolio">
				<xsd:annotation>
					<xsd:documentation>corresponde al código de naturaleza jurídica que
						se tiene en la anotación de la medida cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fechaAnotacion">
				<xsd:annotation>
					<xsd:documentation>corresponde a la fecha de anotación de la medida
						cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime" />
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="intervinientes" minOccurs="1"
				maxOccurs="unbounded" type="bachue:tipoInterviniente"></xsd:element>
			<xsd:element name="NIR">
				<xsd:annotation>
					<xsd:documentation>Corresponde al NIR de la medida Cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="radicacion">
				<xsd:annotation>
					<xsd:documentation>Corresponde a la radicacion de la medida
						Cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="estadoAnotacion">
				<xsd:annotation>
					<xsd:documentation>Determina que la anotación existe y tiene
						validez, valores perrmitidos; V, I.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="valorActo">
				<xsd:annotation>
					<xsd:documentation>determina el valor del acto de la anotación de
						medida cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal" />
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoAnotacionCancelada">
		<xsd:sequence>
			<xsd:element name="anotacionCancelada">
				<xsd:annotation>
					<xsd:documentation>corresponde al número de matrícula cancelada en
						la atonación de la medida cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoInterviniente">
		<xsd:sequence>
			<xsd:element name="rolInterviniente">
				<xsd:annotation>
					<xsd:documentation>Corresponde al Rol De o A</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="tipoPersona">
				<xsd:annotation>
					<xsd:documentation>Natural o Jurídica</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="esPropietario">
				<xsd:annotation>
					<xsd:documentation>Viene con X o I, donde X significa que la
						persona natural o juridica es titular de derecho real principal
						del inmueble e I significa que es titular de derecho en falsa
						tradicion del inmueble.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="tipoDocumentoPersona">
				<xsd:annotation>
					<xsd:documentation>Tipo de documento de persona natural, en este
						caso, el interviniente en la anotación de la medida cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numDocumentoPersona">
				<xsd:annotation>
					<xsd:documentation>Número de documento de la persona natural, en
						este caso del interviniente en la anotación de la medida cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numNIT">
				<xsd:annotation>
					<xsd:documentation>Número de Identificación Tributaria, en este
						caso del interviniente en la anotación de la medida cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="porcentajeParticipacion">
				<xsd:annotation>
					<xsd:documentation>corresponde al porcentaje de participación del
						interviniente en la anotación de la medida cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primerNombre">
				<xsd:annotation>
					<xsd:documentation>corresponde al primer nombre del interviniente
						en la anotación de la medida cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="segundoNombre">
				<xsd:annotation>
					<xsd:documentation>corresponde al segundo nombre del interviniente
						en la anotación de la medida cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primerApellido">
				<xsd:annotation>
					<xsd:documentation>corresponde al primer apellido del interviniente
						en la anotación de la medida cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="segundoApellido">
				<xsd:annotation>
					<xsd:documentation>corresponde al segundo apellido del
						interviniente en la anotación de la medida cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codGenero">
				<xsd:annotation>
					<xsd:documentation>Código Identidad Genero del propietario 01 para
						Masculino y 02 para Femenino
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="razonSocial">
				<xsd:annotation>
					<xsd:documentation>corresponde a la razón social del interviniente
						en la anotación de la medida cautelar
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoTramiteEnCurso">
		<xsd:sequence>
			<xsd:element name="NIR">
				<xsd:annotation>
					<xsd:documentation>Número de Identificación Registral del trámite
						en curso
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fechaHoraNIR">
				<xsd:annotation>
					<xsd:documentation>Fecha de Solicitud</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime" />
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="radicacion">
				<xsd:annotation>
					<xsd:documentation>Número de turno o radicado del trámite en curso.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fechaRadicacion">
				<xsd:annotation>
					<xsd:documentation>Fecha en la que se asignó el turno
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime" />
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="tiposActo" minOccurs="1"
				maxOccurs="unbounded" type="bachue:tipoTiposActo" />
			<xsd:element name="oficinaOrigen">
				<xsd:annotation>
					<xsd:documentation>Entidad donde se radicó el trámite en curso
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nomMunicipio">
				<xsd:annotation>
					<xsd:documentation>Ciudad de la ORIP que resuelve el trámite
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoTiposActo">
		<xsd:sequence>
			<xsd:element name="descripcionActo">
				<xsd:annotation>
					<xsd:documentation>Descripción del Acto del trámite en curso
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"></xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="valorActo">
				<xsd:annotation>
					<xsd:documentation>Valor del Acto del trámite en curso
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal" />
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="salidaConsultaCT"
		type="bachue:tipoSalidaConsultaCT" />
	<xsd:element name="entradaConsultaCT"
		type="bachue:tipoEntradaConsultaCT" />
	<!-- Últimas modificaciones 2020-01-27 10:25 -->
</xsd:schema>